﻿.container {
    flex-shrink: 0;
    display: flex;
    align-items: center;
}

.action {
    width: 18px;
    height: 18px;
    padding: 2px;
    line-height: 14px;
    font-size: 14px;
    color: var(--action-txt);
    background-color: var(--action-bg);
    border-radius: 2px;
    transition: color 0.1s, background-color 0.1s;
}

.action:hover {
    color: var(--action-txt-hover);
    background-color: var(--action-bg-hover);
}

.action:active {
    color: var(--action-txt-active);
    background-color: var(--action-bg-active);
}

.action:disabled {
    color: var(--action-txt-disabled);
    background-color: var(--action-bg-disabled);
}

.separator {
    width: 1px;
    height: 14px;
    margin: 0 2px;
    background-color: var(--action-bg-active);
}