﻿@if (Actions.Count > 0)
{
    <div class="container @Class">
        @foreach (var action in Actions)
        {
            if (action.Name == ContextAction.Separator.Name)
            {
                <div class="separator"></div>
            }
            else if (action.Icon is not null)
            {
                if (action.OnClick is null)
                {
                    <div title="@action.Name" class="action" disabled="@(!action.Active)">
                        <Icon Value="action.Icon" StrokeWidth="1.5"/>
                    </div>
                }
                else
                {
                    <button title="@action.Name" class="action" disabled="@(!action.Active)" @onclick="action.OnClick" @onclick:stopPropagation="true">
                        <Icon Value="action.Icon" StrokeWidth="1.5"/>
                    </button>
                }
            }
        }
    </div>
}

@code {
    [Parameter, EditorRequired]
    public IReadOnlyList<ContextAction> Actions { get; set; } = [];

    [Parameter]
    public string Class { get; set; } = string.Empty;
}