﻿button, a {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 80px;
    padding: 5px 15px;
    font-size: 14px;
    color: var(--btn-txt);
    background-color: var(--btn-bg);
    border-radius: 2px;
}

button:hover, a:hover {
    color: var(--btn-txt-hover);
    background-color: var(--btn-bg-hover);
}

button:active, a:active {
    color: var(--btn-txt-active);
    background-color: var(--btn-bg-active);
}

button:disabled, a.disabled {
    color: var(--btn-txt-disabled);
    background-color: var(--btn-bg-disabled);
}