﻿@if (string.IsNullOrEmpty(Href))
{
    <button class="@Class" disabled="@Disabled" @onclick="OnClick">@ChildContent</button>
}
else
{
    <a class="@Class @(Disabled ? "disabled" : "")" href="@Href" @onclick="OnClick">@ChildContent</a>
}

@code {
    [Parameter]
    public string Class { get; set; } = string.Empty;

    [Parameter]
    public bool Disabled { get; set; }

    [Parameter]
    public string Href { get; set; } = string.Empty;

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public EventCallback OnClick { get; set; }
}