﻿<div class="container @Class">
    @if (Value < 0)
    {
        <div class="bar infinite"></div>
    }
    else
    {
        <div class="bar" style="width:@(Math.Clamp(Value, 0, 100))%"></div>
    }
</div>

@code {
    [Parameter]
    public string Class { get; set; } = string.Empty;

    [Parameter, EditorRequired]
    public int Value { get; set; }
}