﻿.container {
    position: relative;
    height: 5px;
    width: 100%;
    background-color: var(--dialog-box-bg);
    border-radius: 99px;
    overflow: hidden;
}

.bar {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: var(--accent);
    border-radius: 99px;
    transform-origin: left;
    z-index: 10;
}

.bar.infinite {
    width: 50%;
    animation: loading-bar 1.5s ease-in-out infinite;
}

@keyframes loading-bar {
    from { transform: translateX(-100%); }
    to   { transform: translateX(200%); }
}