﻿div {
    display: flex;
    align-items: center;
    padding: 2px 6px;
    color: var(--list-txt);
    background-color: var(--list-bg);
    border-radius: 2px;
    cursor: pointer;
}

div:hover {
    color: var(--list-txt-hover);
    background-color: var(--list-bg-hover);
}

div:active {
    color: var(--list-txt-active);
    background-color: var(--list-bg-active);
}

div.selected {
    color: var(--list-txt-selected);
    background-color: var(--list-bg-selected);
}

div:disabled {
    color: var(--list-txt-disabled);
    background-color: var(--list-bg-disabled);
}

span {
    flex-grow: 1;
    margin-left: 4px;
    margin-right: auto;
    font-size: 14px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

span:first-child {
    padding-left: 1em;
}

span:last-child {
    padding-right: 4px;
}

div:hover > ::deep .action-container {
    margin-left: 4px;
    margin-right: -2px;
    font-size: 14px;
    z-index: 1;
}

div:not(:hover) > ::deep .action-container {
    display: none;
}