﻿div {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
}

div > ::deep hr {
    margin: 4px 0;
    border: 0;
    border-bottom: 1px solid var(--list-separator);
}