﻿<div class="@(Selected ? "selected" : "") @Class" @onclick="OnClick">
    @if (Selected)
    {
        <Icon Value="GlobalIcons.Check"/>
    }
    else if (Icon is not null)
    {
        <Icon Value="@Icon"/>
    }
    <span>@ChildContent</span>
    <ActionList Actions="Actions" Class="action-container"/>
</div>

@code {
    [Parameter]
    public string Class { get; set; } = string.Empty;

    [Parameter]
    public bool Selected { get; set; }

    [Parameter]
    public IconValue? Icon { get; set; }

    [Parameter]
    public IReadOnlyList<ContextAction> Actions { get; set; } = [];

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public EventCallback OnClick { get; set; }
}