﻿<div class="@Class">
    <input @ref="_element" type="text" class="@(Valid ? "" : "error")" placeholder="@Placeholder" value="@_value" @oninput="OnInput" @onblur="OnBlur" disabled="@Disabled"/>
</div>

@code {
    private ElementReference _element;
    private string _value = string.Empty;
    private bool _changeWaiting;

    [Parameter]
    public string Value { get; set; } = string.Empty;

    [Parameter]
    public string Placeholder { get; set; } = string.Empty;

    [Parameter]
    public string Class { get; set; } = string.Empty;

    [Parameter]
    public bool Immediate { get; set; }

    [Parameter]
    public bool Disabled { get; set; }

    [Parameter]
    public Func<string, bool> Validator { get; set; } = _ => true;

    [Parameter]
    public Func<string, string> Formatter { get; set; } = val => val;

    [Parameter]
    public EventCallback<string> ValueChanged { get; set; }

    public bool Valid { get; private set; } = true;

    protected override void OnInitialized() => _value = Formatter(Value);

    public ValueTask Focus() => _element.FocusAsync();

    private void OnInput(ChangeEventArgs args)
    {
        if (Disabled) return;

        var value = Formatter(args.Value?.ToString() ?? string.Empty);
        if (value.Equals(_value)) return;

        _value = value;
        Valid = Validator(value);

        Value = value;
        if (Immediate) ValueChanged.InvokeAsync(value);
        else _changeWaiting = true;
    }

    private void OnBlur()
    {
        if (Disabled || !_changeWaiting) return;

        ValueChanged.InvokeAsync(Value);
    }
}