﻿div {
    display: flex;
}

input {
    width: 100%;
    padding: 5px 10px;
    font-size: 14px;
    color: var(--input-txt);
    background-color: var(--input-bg);
    border: 1px solid var(--input-border);
    border-radius: 2px;
}

input::placeholder {
    color: var(--input-placeholder);
}

input:focus {
    color: var(--input-txt-focus);
    background-color: var(--input-bg-focus);
    border-color: var(--input-border-focus);
}

input:disabled {
    color: var(--input-txt-disabled);
    background-color: var(--input-bg-disabled);
    border-color: var(--input-border-disabled);
}

input.error {
    color: var(--input-txt-error);
    background-color: var(--input-bg-error);
    border-color: var(--input-border-error);
}