﻿<button class="@Class" disabled="@Disabled" @onclick="OnButtonClicked">
    <div class="toggle @(Value ? "checked" : "")">
        @if (Value)
        {
            <Icon Value="GlobalIcons.Check"/>
        }
    </div>
    @ChildContent
</button>

@code {
    [Parameter]
    public bool Value { get; set; }

    [Parameter]
    public string Class { get; set; } = string.Empty;

    [Parameter]
    public bool Disabled { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public EventCallback<bool> ValueChanged { get; set; }

    private void OnButtonClicked() => ValueChanged.InvokeAsync(!Value);
}