﻿button {
    display: flex;
    align-items: center;
}

.toggle {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    margin-right: 10px;
    font-size: 14px;
    color: var(--input-txt);
    background-color: var(--input-bg);
    border-radius: 5px;
}

.toggle.checked {
    color: var(--btn-txt);
    background-color: var(--btn-bg);
}