﻿@implements IDisposable

@inject ContextMenuService ContextMenuService
@inject ContextActionProvider ContextActionProvider
@inject EditorContextActionProvider EditorContextActionProvider
@inject EditorService EditorService

<div class="container">
    <button @ref="_fileButton" class="item" @onmousedown="() => OnItemClicked(_fileButton)" @onmouseenter="() => OnItemHovered(_fileButton)">File</button>
    <button @ref="_dataButton" class="item" @onmousedown="() => OnItemClicked(_dataButton)" @onmouseenter="() => OnItemHovered(_dataButton)">Data</button>
    <button @ref="_viewButton" class="item" @onmousedown="() => OnItemClicked(_viewButton)" @onmouseenter="() => OnItemHovered(_viewButton)">View</button>
    @if (_editorHasActions)
    {
        <button @ref="_editorButton" class="item" @onmousedown="() => OnItemClicked(_editorButton)" @onmouseenter="() => OnItemHovered(_editorButton)">Editor</button>
    }
</div>

@code {
    private ElementReference _fileButton;
    private ElementReference _dataButton;
    private ElementReference _viewButton;
    private ElementReference _editorButton;
    private ElementReference _currentElement;
    private bool _switching;
    private bool _closing;
    private IEditorData? _activeTab;
    private bool _editorHasActions;

    protected override void OnInitialized()
    {
        _activeTab = EditorService.ActiveTab;
        EditorService.ActiveTabChanged += OnSelectedTabChanged;
    }

    private void OnSelectedTabChanged(object? sender, EventArgs e)
    {
        _activeTab = EditorService.ActiveTab;
        _editorHasActions = _activeTab is not null && EditorContextActionProvider.HasActions(_activeTab);
        InvokeAsync(StateHasChanged);
    }

    private ContextAction[] GetActions(ElementReference reference)
    {
        if (IsEqual(reference, _fileButton)) return ContextActionProvider.GetMenuFileActions();
        if (IsEqual(reference, _dataButton)) return ContextActionProvider.GetMenuDataActions();
        if (IsEqual(reference, _viewButton)) return ContextActionProvider.GetMenuViewActions();
        if (_activeTab is not null && IsEqual(reference, _editorButton)) return EditorContextActionProvider.GetActions(_activeTab);
        return [];
    }

    private void OnItemClicked(ElementReference reference)
    {
        if (IsCurrent(reference)) return;
        if (_closing)
        {
            _closing = false;
            return;
        }

        var actions = GetActions(reference);
        if (actions.Length == 0) return;

        _switching = false;
        _currentElement = reference;
        ContextMenuService.Open(actions, reference, MenuPosition.BottomLeft, OnContextClosed, true);
    }

    private void OnItemHovered(ElementReference reference)
    {
        if (!_currentElement.IsInitialized() || IsCurrent(reference)) return;

        var actions = GetActions(reference);
        if (actions.Length == 0) return;

        _switching = true;
        _currentElement = reference;
        ContextMenuService.Open(actions, reference, MenuPosition.BottomLeft, OnContextClosed, true);
    }

    private static bool IsEqual(ElementReference reference1, ElementReference reference2) => reference1.IsInitialized() && string.Equals(reference1.Id, reference2.Id);

    private bool IsCurrent(ElementReference reference) => IsEqual(_currentElement, reference);

    private void OnContextClosed()
    {
        if (_switching)
        {
            _switching = false;
            return;
        }

        _currentElement = default;
        _closing = true;
        InvokeAsync(StateHasChanged);
        Task.Delay(100).ContinueWith(_ => _closing = false);
    }

    public void Dispose() => EditorService.ActiveTabChanged -= OnSelectedTabChanged;
}