﻿.container {
    box-sizing: border-box;
    display: flex;
    position: relative;
    width: 100%;
    padding: 4px;
    background-color: var(--menu-bg);
    z-index: 100;
}

.item {
    display: flex;
    align-items: center;
    padding: 4px 8px;
    font-size: 13px;
    color: var(--menu-item-txt);
    background-color: var(--menu-item-bg);
    border-radius: 5px;
}

.item:hover,
.item.context-menu {
    color: var(--menu-item-txt-hover);
    background-color: var(--menu-item-bg-hover);
}

.item:active {
    color: var(--menu-item-txt-active);
    background-color: var(--menu-item-bg-active);
}

.item:disabled {
    color: var(--status-item-txt-disabled);
    background-color: var(--menu-item-bg-disabled);
}