﻿@implements IAsyncDisposable

@inject IJSRuntime JsRuntime

<div class="container">
    @if (Header is not null)
    {
        <div class="header" @ondblclick="OnHeaderClick">
            <span class="label">@Header</span>
            <ActionList Actions="HeaderActions"/>
        </div>
    }
    <div @ref="_container" class="content">
        @ChildContent
    </div>
</div>

@code {
    private ElementReference _container;
    private IJSObjectReference? _jsModule;

    [Parameter]
    public string? Header { get; set; }

    [Parameter]
    public IReadOnlyList<ContextAction> HeaderActions { get; set; } = [];

    [Parameter]
    public EventCallback OnHeaderClick { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender) return;

        _jsModule = await JsRuntime.InvokeAsync<IJSObjectReference>("import", $"./Components/{nameof(Layout)}/{nameof(ScrollContainer)}.razor.js");
        await _jsModule.InvokeVoidAsync("setup", _container);
    }

    public async ValueTask DisposeAsync()
    {
        if (_jsModule is null) return;

        try
        {
            await _jsModule.DisposeAsync();
        }
        catch
        {
            //ignored
        }
    }
}