﻿@implements IAsyncDisposable

<div class="split-panel @Class">
    <CascadingValue Value="this" IsFixed="true">
        @ChildContent
    </CascadingValue>
</div>

@code {
    private bool _initialized;
    private bool _disabled;

    [CascadingParameter]
    private SplitContainer Container { get; set; } = null!;

    [Parameter]
    public int Size { get; set; }

    [Parameter]
    public int MinSize { get; set; }

    [Parameter]
    public bool Collapsed { get; set; }

    [Parameter]
    public bool Disabled { get; set; }

    [Parameter]
    public int Order { get; set; }

    [Parameter]
    public string Class { get; set; } = string.Empty;

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    protected override void OnInitialized() => _disabled = Disabled;

    protected override async Task OnParametersSetAsync()
    {
        if (!_initialized || Disabled == _disabled) return;

        if (Disabled) await Disable();
        else await Enable();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender) return;

        await Container.AddPanel(this);
        _initialized = true;
    }

    public Task Collapse() => Container.CollapsePanel(this);

    public Task Expand() => Container.ExpandPanel(this);

    public Task Toggle() => Container.TogglePanel(this);

    public Task Disable()
    {
        if (_disabled) return Task.CompletedTask;

        _disabled = true;
        return Container.DisablePanel(this);
    }

    public Task Enable()
    {
        if (!_disabled) return Task.CompletedTask;

        _disabled = false;
        return Container.EnablePanel(this);
    }

    public async ValueTask DisposeAsync() => await Container.RemovePanel(this);
}