﻿.split-container {
    display: flex;
    height: 100%;
}

.split-container.vertical {
    flex-direction: column;
}

.split-container > ::deep .split-panel {
    position: relative;
    overflow: auto;
}

.split-container > ::deep .gutter {
    position: relative;
    z-index: 100;
}

.split-container > ::deep .gutter.disabled,
.split-container > ::deep .gutter:last-child {
    display: none;
    pointer-events: none;
}

.split-container > ::deep .gutter::before {
    content: '';
    position: absolute;
    background-color: var(--split-handle);
    transition: background-color 0.1s 0.2s ease-out;
    z-index: 1;
}

.split-container > ::deep .gutter:hover::before {
    background-color: var(--split-handle-hover);
}

.split-container > ::deep .gutter.active::before {
    background-color: var(--split-handle-active);
    transition: none;
}

.split-container > ::deep .gutter.gutter-horizontal::before {
    top: 0;
    bottom: 0;
    left: -2px;
    width: 4px;
    cursor: col-resize;
}

.split-container > ::deep .gutter.gutter-vertical::before {
    top: -2px;
    left: 0;
    right: 0;
    height: 4px;
    cursor: row-resize;
}