﻿@implements IAsyncDisposable

@inject IJSRuntime JsRuntime

<div @ref="_container" class="split-container@(_vertical ? " vertical" : "") @Class">
    <CascadingValue Value="this" IsFixed="true">
        @ChildContent
    </CascadingValue>
</div>

@code {
    private ElementReference _container;
    private IJSObjectReference? _jsModule;
    private readonly List<SplitPanel> _panels = [];
    private bool _vertical;

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public bool Vertical { get; set; }

    [Parameter]
    public int SnapOffset { get; set; } = 30;

    [Parameter]
    public int DragInterval { get; set; } = 1;

    [Parameter]
    public string Class { get; set; } = string.Empty;

    protected override void OnInitialized() => _vertical = Vertical;

    protected override async Task OnParametersSetAsync()
    {
        if (_vertical == Vertical) return;

        _vertical = Vertical;
        await Reload();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender) return;

        _jsModule = await JsRuntime.InvokeAsync<IJSObjectReference>("import", $"./Components/{nameof(Layout)}/{nameof(SplitContainer)}.razor.js");
        await Reload();
    }

    internal async Task Reload()
    {
        if (_jsModule is null) return;

        await _jsModule.InvokeVoidAsync("setup", _container, GetOptions());
    }

    private SplitOptions GetOptions()
    {
        var sizes = new double[_panels.Count];
        var minSizes = new int[_panels.Count];
        var states = new int[_panels.Count];

        var index = 0;
        var total = 0;
        var flexPanels = 0;
        foreach (var panel in _panels.OrderBy(p => p.Order))
        {
            sizes[index] = panel.Size;
            minSizes[index] = panel.MinSize;
            if (panel.Disabled) states[index] = 2;
            else if (panel.Collapsed) states[index] = 1;
            if (panel.Size > 0) total += panel.Size;
            else ++flexPanels;

            ++index;
        }

        for (var i = 0; i < sizes.Length; ++i)
        {
            if (sizes[i] > 0) sizes[i] = sizes[i] * 100d / total;
            else sizes[i] = total < 100 ? (100d - total) / flexPanels : 0;
        }

        return new SplitOptions
        {
            Sizes = sizes,
            MinSize = minSizes,
            GutterSize = 0,
            SnapOffset = SnapOffset,
            DragInterval = DragInterval,
            Direction = _vertical ? "vertical" : "horizontal",
            PanelStates = states
        };
    }

    internal async Task AddPanel(SplitPanel panel)
    {
        _panels.Add(panel);
        await Reload();
    }

    internal async Task RemovePanel(SplitPanel panel)
    {
        var success = _panels.Remove(panel);
        if (success) await Reload();
    }

    internal async Task CollapsePanel(SplitPanel panel)
    {
        var index = _panels.IndexOf(panel);
        if (index < 0 || _jsModule is null) return;

        await _jsModule.InvokeVoidAsync("collapse", _container, index);
    }

    internal async Task ExpandPanel(SplitPanel panel)
    {
        var index = _panels.IndexOf(panel);
        if (index < 0 || _jsModule is null) return;

        await _jsModule.InvokeVoidAsync("expand", _container, index);
    }

    internal async Task TogglePanel(SplitPanel panel)
    {
        var index = _panels.IndexOf(panel);
        if (index < 0 || _jsModule is null) return;

        await _jsModule.InvokeVoidAsync("toggle", _container, index);
    }

    internal async Task DisablePanel(SplitPanel panel)
    {
        var index = _panels.IndexOf(panel);
        if (index < 0 || _jsModule is null) return;

        await _jsModule.InvokeVoidAsync("disable", _container, index);
    }

    internal async Task EnablePanel(SplitPanel panel)
    {
        var index = _panels.IndexOf(panel);
        if (index < 0 || _jsModule is null) return;

        await _jsModule.InvokeVoidAsync("enable", _container, index);
    }

    public async ValueTask DisposeAsync()
    {
        if (_jsModule is null) return;

        try
        {
            await _jsModule.InvokeVoidAsync("dispose", _container);
            await _jsModule.DisposeAsync();
        }
        catch
        {
            //ignored
        }
    }

    private class SplitOptions
    {
        public required double[] Sizes { get; set; }

        public required int[] MinSize { get; set; }

        public required int GutterSize { get; set; }

        public required int SnapOffset { get; set; }

        public required int DragInterval { get; set; }

        public required string Direction { get; set; }

        public required int[] PanelStates { get; set; }
    }
}