﻿@implements IDisposable

@inject AppStateService AppStateService
@inject StatusService StatusService
@inject UpdateService UpdateService
@inject BrowserContextService BrowserContextService
@inject GameConfigService GameConfigService
@inject DialogService DialogService
@inject ContextMenuService ContextMenuService

<div class="container">
    @if (!string.IsNullOrEmpty(StatusService.Message))
    {
        <div class="item-wrapper">
            <span class="item">@StatusService.Message</span>
        </div>
    }
    <div class="spacer"></div>
    @switch (UpdateService.State)
    {
        case UpdateState.NewVersionFound:
        case UpdateState.DownloadFailed:
        case UpdateState.UnpackFailed:
            <div class="item-wrapper">
                <button class="item" @onclick="OnUpdateStateClicked">
                    <Icon Value="@GlobalIcons.Package" Class="icon"/>
                    <span>Update available</span>
                </button>
            </div>
            break;
        case UpdateState.Downloading:
        case UpdateState.Unpacking:
        case UpdateState.Restarting:
            <div class="item-wrapper">
                <button class="item" @onclick="OnUpdateStateClicked">
                    <Icon Value="@GlobalIcons.Package" Class="icon"/>
                    <span>@(UpdateService.State.ToString())...</span>
                </button>
            </div>
            break;
        case UpdateState.UpdateDone:
            <div class="item-wrapper">
                <button class="item" @onclick="OnUpdateStateClicked">
                    <Icon Value="@GlobalIcons.Package" Class="icon"/>
                    <span>Update installed</span>
                </button>
            </div>
            break;
    }
    <div class="item-wrapper">
        <button class="item" disabled="@(!BrowserContextService.CanZoomOut)" @onclick="BrowserContextService.ZoomOut">
            <Icon Value="@GlobalIcons.Minus" Class="icon"/>
        </button>
        <button class="item" @onclick="BrowserContextService.ResetZoom">
            @($"{BrowserContextService.CurrentZoom * 100:N0}%")
        </button>
        <button class="item" disabled="@(!BrowserContextService.CanZoomIn)" @onclick="BrowserContextService.ZoomIn">
            <Icon Value="@GlobalIcons.Plus" Class="icon"/>
        </button>
    </div>
    <div class="item-wrapper">
        <button @ref="_gameConfigButton" class="item" @onclick="OnGameConfigClicked" @oncontextmenu="OnGameConfigContextClicked">
            <Icon Value="@GlobalIcons.ConfigFile" Class="icon"/>
            <span>@GetGameConfigName()</span>
        </button>
    </div>
</div>

@code {
    private ElementReference _gameConfigButton;

    protected override void OnInitialized()
    {
        StatusService.StatusChanged += OnDataChanged;
        UpdateService.StateChanged += OnDataChanged;
        BrowserContextService.ZoomChanged += OnDataChanged;
        GameConfigService.CurrentConfigChanged += OnDataChanged;
    }

    private void OnDataChanged(object? sender, EventArgs args) => InvokeAsync(StateHasChanged);

    private Task OnUpdateStateClicked() => DialogService.ShowDialog<UpdateDialog>();

    private string GetGameConfigName() => string.IsNullOrEmpty(GameConfigService.CurrentConfig.Game) ? Path.GetFileNameWithoutExtension(GameConfigService.CurrentFile.Name) : GameConfigService.CurrentConfig.Game;

    private Task OnGameConfigClicked() => DialogService.ShowDialog<GameConfigSelectDialog>();

    private void OnGameConfigContextClicked() => ContextMenuService.Open([
        new ContextAction
        {
            Name = "Edit Config",
            Icon = GlobalIcons.Edit,
            OnClick = () => AppStateService.LoadEditorData(GameConfigService.CurrentFile)
        }
    ], _gameConfigButton, MenuPosition.TopRight, true);

    public void Dispose()
    {
        StatusService.StatusChanged -= OnDataChanged;
        UpdateService.StateChanged -= OnDataChanged;
        BrowserContextService.ZoomChanged -= OnDataChanged;
        GameConfigService.CurrentConfigChanged -= OnDataChanged;
    }
}