﻿.container {
    box-sizing: border-box;
    display: flex;
    position: relative;
    width: 100%;
    padding: 0 5px;
    font-size: 12px;
    background-color: var(--status-bg);
    z-index: 100;
}

.item-wrapper {
    flex-shrink: 0;
    display: flex;
    margin: 0 3px;
}

.item {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    padding: 4px 5px;
    line-height: 1.15;
    color: var(--status-item-txt);
    background-color: var(--status-item-bg);
}

.item > ::deep :nth-child(n+2) {
    margin-left: 4px;
}

button.item:hover {
    color: var(--status-item-txt-hover);
    background-color: var(--status-item-bg-hover);
}

button.item:active {
    color: var(--status-item-txt-active);
    background-color: var(--status-item-bg-active);
}

button.item:disabled {
    color: var(--status-item-txt-disabled);
    background-color: var(--status-item-bg-disabled);
}

.spacer {
    flex-grow: 1;
}