﻿@implements IAsyncDisposable

@inject AppStateService AppStateService
@inject EditorService EditorService
@inject FileDragDropService FileDragDropService
@inject ContextMenuService ContextMenuService
@inject ContextActionProvider ContextActionProvider
@inject IJSRuntime JsRuntime

@if (TabGroup.Tabs.Count > 0)
{
    <div class="container@(EditorService.ActiveTabGroup == TabGroup ? " active" : "")" @onclick="OnTabGroupClicked">
        <div class="header">
            <div @ref="_tabList" class="tab-list">
                @for (var i = 0; i < TabGroup.Tabs.Count; ++i)
                {
                    var index = i;
                    var tab = TabGroup.Tabs[index];
                    <div class="tab-wrapper" @ondragstart="() => OnTabDragStart(tab)" @ondragend="OnTabDragEnd" draggable="true">
                        @if (FileDragDropService.IsDragging)
                        {
                            <div class="drop-overlay">
                                <div class="drop-area" @ondrop:preventDefault="true" @ondrop="() => OnTabDropped(index)"></div>
                                <div class="drop-area" @ondrop:preventDefault="true" @ondrop="() => OnTabDropped(index + 1)"></div>
                            </div>
                        }
                        <EditorTab @key="tab" Data="tab" Class="tab" Selected="TabGroup.SelectedTab == tab" Preview="TabGroup.PreviewTab == tab" OnClick="OnTabClicked" OnContext="OnTabContext" OnClose="OnTabClosed"/>
                    </div>
                }
                @if (FileDragDropService.IsDragging)
                {
                    <div class="drop-area" @ondrop:preventDefault="true" @ondrop="() => OnTabDropped(TabGroup.Tabs.Count)"></div>
                }
            </div>
            @if (TabGroup.Tabs.Count > 1)
            {
                <button @ref="_tabListActions" class="header-actions" @onmousedown="OnTabListActionsClicked">
                    <Icon Value="GlobalIcons.Ellipsis"/>
                </button>
            }
        </div>
        <div class="editor-wrapper">
            @if (FileDragDropService.IsDragging)
            {
                <div class="drop-overlay">
                    <div class="drop-area full" @ondrop:preventDefault="true" @ondrop="() => OnTabDropped(SplitDirection.Full)"></div>
                    <div class="drop-area left" @ondrop:preventDefault="true" @ondrop="() => OnTabDropped(SplitDirection.Left)"></div>
                    <div class="drop-area right" @ondrop:preventDefault="true" @ondrop="() => OnTabDropped(SplitDirection.Right)"></div>
                    <div class="drop-area up" @ondrop:preventDefault="true" @ondrop="() => OnTabDropped(SplitDirection.Up)"></div>
                    <div class="drop-area down" @ondrop:preventDefault="true" @ondrop="() => OnTabDropped(SplitDirection.Down)"></div>
                    <div class="drop-preview"></div>
                </div>
            }
            @{
                var filePath = TabGroup.SelectedTab?.File.GetFilePath();
            }
            <div class="file-path" title="@filePath">@filePath</div>
            @if (TabGroup.SelectedTab is not null)
            {
                <DynamicComponent @ref="_editor" Type="TabGroup.SelectedTab.Editor" Parameters="new Dictionary<string, object> {{nameof(IEditorComponent.EditorData), TabGroup.SelectedTab}}"/>
            }
        </div>
    </div>
}
else
{
    <div class="empty">
        @if (FileDragDropService.IsDragging)
        {
            <div class="drop-area" @ondrop:preventDefault="true" @ondrop="() => OnTabDropped(SplitDirection.Full)"></div>
        }
    </div>
}

@code {
    private ElementReference _tabList;
    private ElementReference _tabListActions;
    private IJSObjectReference? _jsModule;
    private bool _rendered;
    private bool _dropdownClosing;
    private DynamicComponent? _editor;

    [Parameter, EditorRequired]
    public IEditorTabGroup TabGroup { get; set; } = null!;

    protected override void OnInitialized()
    {
        TabGroup.TabsChanged += OnTabsChanged;
        TabGroup.SelectedTabChanged += OnStateChanged;
        TabGroup.PreviewTabChanged += OnStateChanged;
        EditorService.ActiveTabChanged += OnActiveTabChanged;
        FileDragDropService.DragStarted += OnStateChanged;
        FileDragDropService.DragCompleted += OnStateChanged;
    }

    protected override async Task OnParametersSetAsync()
    {
        if (_jsModule is null || !_tabList.IsInitialized()) return;
        if (_rendered == TabGroup.Tabs.Count > 0) return;

        await _jsModule.InvokeVoidAsync("setup", _tabList);
        _rendered = true;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender) return;

        _jsModule = await JsRuntime.InvokeAsync<IJSObjectReference>("import", $"./Components/{nameof(Editor)}/{nameof(EditorView)}.razor.js");

        if (_tabList.IsInitialized())
        {
            await _jsModule.InvokeVoidAsync("setup", _tabList);
            FocusActiveEditor();
            _rendered = true;
        }
    }

    private void FocusActiveEditor() => (_editor?.Instance as IEditorComponent)?.Focus();

    private void OnTabsChanged(object? sender, EventArgs args)
    {
        if (TabGroup.Tabs.Count == 0) _rendered = false;
        InvokeAsync(StateHasChanged);
    }

    // ReSharper disable once AsyncVoidMethod
    private async void OnActiveTabChanged(object? sender, EventArgs args)
    {
        await InvokeAsync(StateHasChanged);
        if (EditorService.ActiveTabGroup == TabGroup && EditorService.ActiveTab == TabGroup.SelectedTab) FocusActiveEditor();
    }

    private void OnStateChanged(object? sender, EventArgs args) => InvokeAsync(StateHasChanged);

    private void OnTabGroupClicked()
    {
        EditorService.SetActiveTabGroup(TabGroup);
        FocusActiveEditor();
    }

    private void OnTabClicked(IEditorData tab) => TabGroup.Select(tab);

    private void OnTabContext((IEditorData tab, ElementReference) data) => ContextMenuService.Open(ContextActionProvider.GetEditorTabContextActions(data.Item1, TabGroup), data.Item2, MenuPosition.BottomLeft);

    private Task OnTabClosed(IEditorData tab) => AppStateService.CloseTab(tab, TabGroup);

    private void OnTabDragStart(IEditorData tab) => FileDragDropService.Start(tab, TabGroup);

    private void OnTabDragEnd() => FileDragDropService.Clear();

    // ReSharper disable once AsyncVoidMethod
    private async void OnTabDropped(int index)
    {
        if (!FileDragDropService.IsDragging) return;

        var file = FileDragDropService.File;
        var tab = FileDragDropService.EditorData;
        var tabGroup = FileDragDropService.TabGroup;

        if (file is not null)
        {
            await AppStateService.LoadEditorData(file, TabGroup, index);
        }
        else if (tab is not null && tabGroup is not null)
        {
            await EditorService.MoveTab(tab, tabGroup, TabGroup, index);
        }

        FileDragDropService.Clear();
    }

    // ReSharper disable once AsyncVoidMethod
    private async void OnTabDropped(SplitDirection direction)
    {
        if (!FileDragDropService.IsDragging) return;

        var file = FileDragDropService.File;
        var tab = FileDragDropService.EditorData;
        var tabGroup = FileDragDropService.TabGroup;

        if (file is not null)
        {
            await AppStateService.LoadEditorData(file, TabGroup, direction);
        }
        else if (tab is not null && tabGroup is not null)
        {
            await EditorService.MoveTab(tab, tabGroup, TabGroup, direction);
        }

        FileDragDropService.Clear();
    }

    private void OnTabListActionsClicked()
    {
        if (_dropdownClosing)
        {
            _dropdownClosing = false;
            return;
        }

        ContextMenuService.Open(ContextActionProvider.GetEditorTabGroupContextActions(TabGroup), _tabListActions, MenuPosition.BottomRight, OnTabListActionsClosing, true);
    }

    private void OnTabListActionsClosing()
    {
        _dropdownClosing = true;
        Task.Delay(100).ContinueWith(_ => _dropdownClosing = false);
    }

    public async ValueTask DisposeAsync()
    {
        TabGroup.TabsChanged -= OnTabsChanged;
        TabGroup.SelectedTabChanged -= OnStateChanged;
        TabGroup.PreviewTabChanged -= OnStateChanged;
        EditorService.ActiveTabChanged -= OnActiveTabChanged;
        FileDragDropService.DragStarted -= OnStateChanged;
        FileDragDropService.DragCompleted -= OnStateChanged;

        if (_jsModule is null) return;

        try
        {
            await _jsModule.DisposeAsync();
        }
        catch
        {
            //ignored
        }
    }
}