﻿@implements IAsyncDisposable

@inject IJSRuntime JsRuntime

<div @ref="_element" class="tab@(Selected ? " selected" : "") @(Preview ? "preview" : "") @(Data.IsModified ? "modified" : "") @Class"
     @onclick="() => OnClick.InvokeAsync(Data)" @oncontextmenu="() => OnContext.InvokeAsync((Data, _element))">
    <FileIcon File="Data.File" Class="icon" StrokeWidth="1.5"/>
    <span class="label">@Data.File.Name</span>
    <ActionList Actions="_actions" Class="action-container"/>
</div>

@code {
    private ElementReference _element;
    private IJSObjectReference? _jsModule;
    private ContextAction[] _actions = [];

    [Parameter, EditorRequired]
    public IEditorData Data { get; set; } = null!;

    [Parameter]
    public bool Selected { get; set; }

    [Parameter]
    public bool Preview { get; set; }

    [Parameter]
    public string Class { get; set; } = string.Empty;

    [Parameter]
    public EventCallback<IEditorData> OnClick { get; set; }

    [Parameter]
    public EventCallback<(IEditorData, ElementReference)> OnContext { get; set; }

    [Parameter]
    public EventCallback<IEditorData> OnClose { get; set; }

    protected override void OnInitialized()
    {
        Data.Modified += OnFileModified;

        _actions =
        [
            new ContextAction
            {
                Name = "Close",
                Icon = GlobalIcons.X,
                OnClick = () => OnClose.InvokeAsync(Data)
            }
        ];
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _jsModule = await JsRuntime.InvokeAsync<IJSObjectReference>("import", $"./Components/{nameof(Editor)}/{nameof(EditorTab)}.razor.js");
        }

        if (_jsModule is null) return;
        if (Selected) await _jsModule.InvokeVoidAsync("scrollTo", _element);
    }

    private void OnFileModified(object? sender, EventArgs args) => InvokeAsync(StateHasChanged);

    public async ValueTask DisposeAsync()
    {
        Data.Modified -= OnFileModified;

        if (_jsModule is null) return;

        try
        {
            await _jsModule.DisposeAsync();
        }
        catch
        {
            //ignored
        }
    }
}