﻿.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.header {
    display: flex;
    overflow: hidden;
}

.tab-list {
    flex-grow: 1;
    display: flex;
    background-color: var(--tab-bg);
    overflow-x: auto;
    overflow-y: hidden;
}

.tab-list::-webkit-scrollbar {
    height: 4px;
}

.tab-list > .drop-area {
    flex-grow: 1;
    position: relative;
    margin-left: -1px;
    z-index: 1;
}

.tab-list > .drop-area:hover {
    border-left: 2px solid var(--tab-drop-handle);
}

.tab-wrapper {
    position: relative;
}

.tab-wrapper:nth-child(n+2)::before {
    content: '';
    position: absolute;
    left: 0;
    width: 1px;
    height: 100%;
    border-left: 1px solid var(--tab-item-bg-active);
    z-index: 1;
}

.tab-wrapper .drop-overlay {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -1px;
    right: -1px;
    z-index: 10;
}

.tab-wrapper:first-child .drop-overlay {
    left: 0;
}

.tab-wrapper .drop-overlay .drop-area {
    flex-basis: 100%;
}

.tab-wrapper .drop-overlay .drop-area:first-child:hover {
    border-left: 2px solid var(--tab-drop-handle);
}

.tab-wrapper .drop-overlay .drop-area:last-child:hover {
    border-right: 2px solid var(--tab-drop-handle);
}

.container:not(.active) > .tab-list ::deep .tab {
    color: var(--tab-item-txt-disabled);
}

.header-actions {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    margin: 5px;
    color: var(--action-txt);
    background-color: var(--action-bg);
    border-radius: 2px;
}

.header-actions:hover,
.header-actions.context-menu {
    color: var(--action-txt-hover);
    background-color: var(--action-bg-hover);
}

.header-actions:active {
    color: var(--action-txt-active);
    background-color: var(--action-bg-active);
}

.editor-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
    height: 0;
    background-color: var(--editor-bg);
}

.editor-wrapper .drop-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.editor-wrapper .drop-overlay .drop-area {
    position: absolute;
    z-index: 20;
    opacity: 0.5;
}

.editor-wrapper .drop-overlay .drop-area.full {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.editor-wrapper .drop-overlay .drop-area.left {
    left: 0;
    top: 25%;
    bottom: 25%;
    width: 25%;
}

.editor-wrapper .drop-overlay .drop-area.right {
    right: 0;
    top: 25%;
    bottom: 25%;
    width: 25%;
}

.editor-wrapper .drop-overlay .drop-area.up {
    left: 25%;
    right: 25%;
    top: 0;
    height: 25%;
}

.editor-wrapper .drop-overlay .drop-area.down {
    left: 25%;
    right: 25%;
    bottom: 0;
    height: 25%;
}

.editor-wrapper .drop-overlay .drop-preview {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--editor-drop-bg);
    opacity: 0;
    transform-origin: top left;
    transition: opacity 0.2s, transform 0.2s;
}

.editor-wrapper .drop-overlay .drop-area.full:hover ~ .drop-preview {
    opacity: 1;
    transform: translate(0, 0) scale(1, 1);
}

.editor-wrapper .drop-overlay .drop-area.left:hover ~ .drop-preview {
    opacity: 1;
    transform: translate(0, 0) scale(0.5, 1);
}

.editor-wrapper .drop-overlay .drop-area.right:hover ~ .drop-preview {
    opacity: 1;
    transform: translate(50%, 0) scale(0.5, 1);
}

.editor-wrapper .drop-overlay .drop-area.up:hover ~ .drop-preview {
    opacity: 1;
    transform: translate(0, 0) scale(1, 0.5);
}

.editor-wrapper .drop-overlay .drop-area.down:hover ~ .drop-preview {
    opacity: 1;
    transform: translate(0, 50%) scale(1, 0.5);
}

.file-path {
    flex-shrink: 0;
    padding: 2px 8px;
    font-size: 14px;
    line-height: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: var(--breadcrumb-txt);
    background-color: var(--breadcrumb-bg);
}

.empty {
    width: 100%;
    height: 100%;
    background-color: var(--editor-bg);
}

.empty .drop-area {
    width: 100%;
    height: 100%;
    background-color: var(--editor-drop-bg);
    opacity: 0;
    transition: opacity 0.2s;
}

.empty:hover .drop-area {
    opacity: 1;
}