﻿.container {
    height: 100%;
}

.container ::deep .editor-panel-vertical {
    border-top: 1.5px solid var(--panel-border);
}

.container ::deep .editor-panel-horizontal {
    border-left: 1.5px solid var(--panel-border);
}