﻿@implements IDisposable

<div class="container">
    @if (Node.Tabs is not null)
    {
        <EditorView @key="Node.Tabs" TabGroup="Node.Tabs"/>
    }
    else if (Node.Children.Count > 0)
    {
        <SplitContainer Vertical="Node.Vertical" SnapOffset="0">
            @for (var i = 0; i < Node.Children.Count; ++i)
            {
                var index = i;
                var node = Node.Children[index];
                <SplitPanel Order="index" MinSize="100" Class="@(index > 0 ? "editor-panel-" + (Node.Vertical ? "vertical" : "horizontal") : string.Empty)">
                    <EditorGrid @key="node" Node="node"/>
                </SplitPanel>
            }
        </SplitContainer>
    }
</div>

@code {
    [Parameter, EditorRequired]
    public IEditorTreeNode Node { get; set; } = null!;

    protected override void OnInitialized() => Node.NodeChanged += OnNodeChanged;

    private void OnNodeChanged(object? sender, EventArgs args) => InvokeAsync(StateHasChanged);

    public void Dispose() => Node.NodeChanged -= OnNodeChanged;
}