﻿.tab {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    position: relative;
    min-width: 100px;
    padding: 6px 4px 6px 8px;
    color: var(--tab-item-txt);
    background-color: var(--tab-item-bg);
    cursor: pointer;
}

.tab:hover {
    color: var(--tab-item-txt-hover);
    background-color: var(--tab-item-bg-hover);
}

.tab:active {
    color: var(--tab-item-txt-active);
    background-color: var(--tab-item-bg-active);
}

.tab.selected,
.tab.context-menu {
    color: var(--tab-item-txt-selected);
    background-color: var(--tab-item-bg-selected);
}

.tab.preview {
    font-style: italic;
}

.tab.disabled {
    color: var(--tab-item-txt-disabled);
    background-color: var(--tab-item-bg-disabled);
    pointer-events: none;
}

.tab > ::deep .icon {
    margin-right: 4px;
}

.label {
    flex-grow: 1;
    margin-right: auto;
    line-height: 18px;
    font-size: 14px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.tab.modified .label {
    color: var(--tab-item-txt-modified);
}

.tab ::deep .action-container {
    margin-left: 4px;
    font-size: 14px;
    opacity: 0;
}

.tab:hover ::deep .action-container,
.tab.selected ::deep .action-container {
    opacity: 1;
}