﻿.editor {
    flex-grow: 1;
    position: relative;
	flex-basis: 100%;
    background-color: var(--editor-bg);
    overflow: hidden;
}

.editor.show-new-line ::deep .view-line > span::after {
    content: '\21a9';
    color: rgba(227, 228, 226, 0.16);
    margin-left: 4px;
}

::deep .monaco-editor-container {
	height: 100%;
}

::deep .monaco-editor-container .decorationsOverviewRuler {
    background-color: var(--editor-bg);
}

::deep .context-view .monaco-scrollable-element {
    background-color: var(--context-bg) !important;
    border: 1px solid var(--context-border) !important;
    border-radius: 5px !important;
    box-shadow: var(--context-shadow) !important;
}

::deep .monaco-menu .action-menu-item {
    color: var(--context-item-txt) !important;
    background-color: var(--context-item-bg) !important;
    border-radius: 4px !important;
}

::deep .monaco-menu .action-item.focused .action-menu-item {
    color: var(--context-item-txt-hover) !important;
    background-color: var(--context-item-bg-hover) !important;
}

::deep .monaco-menu .action-item.active .action-menu-item {
    color: var(--context-item-txt-active) !important;
    background-color: var(--context-item-bg-active) !important;
}

::deep .monaco-menu .separator {
    border-bottom: 1px solid var(--context-border) !important;
}