﻿@using BlazorMonaco
@using BlazorMonaco.Editor

@implements IEditorComponent
@implements IAsyncDisposable

@inject AppStateService AppStateService
@inject IOptionsMonitor<EditorSettings> EditorSettings
@inject IJSRuntime JsRuntime

@if (_data is not null)
{
    <div class="editor@(EditorSettings.CurrentValue.ShowNewLines ? " show-new-line" : "")">
        <StandaloneCodeEditor @ref="_editor" ConstructionOptions="GetOptions" OnDidInit="OnEditorInit" OnDidChangeModelContent="OnContentChanged"/>
    </div>
}

@code {
    private StandaloneCodeEditor _editor = null!;
    private ITextEditorData? _data;
    private bool _initialized;
    private IDisposable? _settingsListener;

    [Parameter, EditorRequired]
    public IEditorData EditorData { get; set; } = null!;

    protected override void OnInitialized()
    {
        _data = EditorData as ITextEditorData;
        _settingsListener = EditorSettings.OnChange(OnSettingsChanged);
    }

    protected override async Task OnParametersSetAsync()
    {
        if (_data == EditorData) return;

        await UpdateEditorData();
        _data = EditorData as ITextEditorData;
        await UpdateContent();
    }

    public async Task Focus()
    {
        if (await _editor.HasTextFocus() || await _editor.HasWidgetFocus()) return;
        await _editor.Focus();
    }

    private async Task UpdateEditorData()
    {
        var data = _data;
        if (!_initialized || data is null) return;

        data.State = await JsRuntime.InvokeAsync<object>("blazorMonaco.editor.saveViewState", _editor.Id);
    }

    private StandaloneEditorConstructionOptions GetOptions(StandaloneCodeEditor editor) => new()
    {
        Theme = "msbt-editor",
        AutomaticLayout = true,
        DetectIndentation = false,
        InsertSpaces = true,
        UseTabStops = true,
        RoundedSelection = true,
        CopyWithSyntaxHighlighting = false,
        FormatOnPaste = true,
        WordWrap = EditorSettings.CurrentValue.WordWrap ? "on" : "off",
        WrappingIndent = "indent",
        RenderWhitespace = EditorSettings.CurrentValue.ShowWhitespace ? "all" : "selection",
        RenderControlCharacters = true,
        SmoothScrolling = true,
        StickyScroll = new EditorStickyScrollOptions
        {
            Enabled = true,
            DefaultModel = "outlineModel"
        },
        LargeFileOptimizations = true,
        WordBasedSuggestionsOnlySameLanguage = true,
        UseShadowDOM = false,
        UnicodeHighlight = new UnicodeHighlightOptions
        {
            NonBasicASCII = false,
            InvisibleCharacters = true,
            AmbiguousCharacters = false
        },
        MaxTokenizationLineLength = EditorSettings.CurrentValue.MaxTokenizationLineLength
    };

    private async Task OnEditorInit()
    {
        _initialized = true;

        await _editor.AddAction(new ActionDescriptor
        {
            Id = "save-changes",
            Label = "Save Changes",
            ContextMenuOrder = 0,
            ContextMenuGroupId = "9_cutcopypaste",
            Keybindings = [(int) KeyMod.CtrlCmd | (int) KeyCode.KeyS],
            Run = editor =>
            {
                if (_data is null) return;
                _ = AppStateService.SaveEditorData(_data);
            }
        });

        await UpdateContent();
    }

    private void OnContentChanged(ModelContentChangedEvent args)
    {
        if (_data is null) return;

        _data.IsModified = !args.IsFlush;
    }

    private async Task UpdateContent()
    {
        var data = _data;
        if (!_initialized || data is null) return;

        await _editor.SetModel(data.Model);
        if (data.State is not null) await JsRuntime.InvokeVoidAsync("blazorMonaco.editor.restoreViewState", _editor.Id, data.State);
        await _editor.UpdateOptions(new EditorUpdateOptions {TabSize = data.TabSize, ReadOnly = data.IsReadOnly});
    }

    private void OnSettingsChanged(EditorSettings settings)
    {
        if (!_initialized) return;

        _editor.UpdateOptions(new EditorUpdateOptions
        {
            RenderWhitespace = settings.ShowWhitespace ? "all" : "selection",
            WordWrap = settings.WordWrap ? "on" : "off",
            MaxTokenizationLineLength = settings.MaxTokenizationLineLength
        });
        InvokeAsync(StateHasChanged);
    }

    public async ValueTask DisposeAsync()
    {
        _settingsListener?.Dispose();
        await UpdateEditorData();
        await _editor.DisposeEditor();
    }
}