@using Microsoft.AspNetCore.Components.Web.Virtualization

@implements IDisposable

@inject ContextMenuService ContextMenuService
@inject FileDragDropService FileDragDropService
@inject EditorService EditorService
@inject IOptionsMonitor<FileBrowserSettings> Settings

<div class="wrapper">
    <div @ref="_element" class="file @(File == List.SelectedFile ? " selected" : "") @(File.IsModified ? "modified" : "")" @onclick="OnHeaderClick" @oncontextmenu="OnHeaderContextClick">
        @if (File is ContainerFileData)
        {
            <Icon Value="_expanded ? GlobalIcons.ChevronDown : GlobalIcons.ChevronRight" Class="toggle" StrokeWidth="1.5" />
        }
        else
        {
            <span class="toggle-spacer"></span>
        }
        <div class="title" title="@File.GetFilePath()" draggable="@(_canDragDrop.ToString().ToLowerInvariant())" @ondragstart="OnDragStart" @ondragend="OnDragEnd">
            <FileIcon File="File" Class="icon" StrokeWidth="1.5"/>
            <span class="label">@File.Name</span>
        </div>
        @if (File.IsLoading)
        {
            <div class="loading"></div>
        }
        <ActionList Actions="FileActionProvider.Invoke(File)" Class="action-container"/>
        @if (File.IsModified)
        {
            <span title="File Has Unsaved Changes" class="hint"></span>
        }
    </div>
    @if (_expanded && File is ContainerFileData containerFile)
    {
        <div class="child-files">
            @if (!containerFile.IsInitialized)
            {
                <div class="message">Loading...</div>
            }
            else if (containerFile.Children.Count == 0)
            {
                <div class="message">No content</div>
            }
            else if (containerFile.Children.Count < Settings.CurrentValue.VirtualizationThreshold)
            {
                @foreach (var file in containerFile.Children.OrderBy(f => f, Comparer))
                {
                    <FileListItem @key="file" File="file"/>
                }
            }
            else
            {
                <Virtualize Items="containerFile.Children.OrderBy(f => f, Comparer).ToArray()" Context="file" ItemSize="22" OverscanCount="10">
                    <Placeholder>
                        <div class="message">Loading...</div>
                    </Placeholder>
                    <ItemContent>
                        <FileListItem @key="file" File="file"/>
                    </ItemContent>
                </Virtualize>
            }
        </div>
    }
</div>

@code {
    private static readonly FileList.FileComparer Comparer = new();
    private ElementReference _element;
    private bool _expanded;
    private bool _canDragDrop;

    [Parameter, EditorRequired]
    public FileData File { get; set; } = null!;

    [CascadingParameter]
    private IFileList List { get; set; } = null!;

    [CascadingParameter(Name = "FileActionProvider")]
    private Func<FileData, IReadOnlyList<ContextAction>> FileActionProvider { get; set; } = null!;

    [CascadingParameter(Name = "FileContextActionProvider")]
    private Func<FileData, IReadOnlyList<ContextAction>> FileContextActionProvider { get; set; } = null!;

    protected override void OnInitialized()
    {
        _canDragDrop = EditorService.HasFactory(File);

        File.Modified += OnFileChanged;
        File.Loading += OnFileChanged;
    }

    private void OnFileChanged(object? sender, EventArgs args) => InvokeAsync(StateHasChanged);

    private void OnHeaderClick()
    {
        _expanded = !_expanded;
        List.Select(File);
    }

    private void OnHeaderContextClick() => ContextMenuService.Open(FileContextActionProvider(File), _element, MenuPosition.BottomLeft);

    private void OnDragStart()
    {
        if (!_canDragDrop) return;
        FileDragDropService.Start(File);
    }

    private void OnDragEnd() => FileDragDropService.Clear();

    public void Dispose()
    {
        File.Modified -= OnFileChanged;
        File.Loading -= OnFileChanged;
    }
}