﻿.wrapper {
    display: flex;
    flex-direction: column;
}

.file {
    display: flex;
    align-items: center;
    position: relative;
    padding: 2px 6px;
    color: var(--panel-item-txt);
    cursor: pointer;
    container-name: filelist-item;
    container-type: inline-size;
}

.file:hover {
    color: var(--panel-item-txt-hover);
}

.file:active,
.file.selected,
.file.context-menu {
    color: var(--panel-item-txt-active);
}

.file.disabled {
    color: var(--panel-item-txt-disabled);
    pointer-events: none;
}

.file:hover::before,
.file.selected::before,
.file.context-menu::before {
    content: '';
    position: absolute;
    left: -100%;
    width: 200%;
    height: 100%;
    z-index: 0;
}

.file:hover::before {
    background-color: var(--panel-item-bg-hover);
}

.file:active::before,
.file.selected::before,
.file.context-menu::before {
    background-color: var(--panel-item-bg-active);
}

.file > ::deep * {
    z-index: 1;
}

::deep .toggle {
    margin-right: 1px;
}

.toggle-spacer {
    flex-shrink: 0;
    width: 1em;
    line-height: 0;
}

::deep .icon {
    margin-right: 5px;
}

.title {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin-right: auto;
    overflow: hidden;
}

.label {
    line-height: 18px;
    font-size: 14px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.file.modified:not(.disabled) .label {
    color: var(--panel-item-txt-modified);
}

.loading {
    flex-shrink: 0;
    width: 10px;
    height: 10px;
    margin-left: 5px;
    border: 2px solid;
    border-color: var(--panel-item-txt-disabled) var(--panel-item-txt-disabled) var(--panel-item-txt-disabled) transparent;
    border-radius: 99px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from { transform: rotate(0); }
    to   { transform: rotate(360deg); }
}

.hint {
    flex-shrink: 0;
    height: 8px;
    width: 8px;
    margin-left: 5px;
    background-color: var(--panel-item-txt-modified);
    border-radius: 99px;
}

.file.disabled .hint {
    background-color: var(--panel-item-txt-disabled);
}

.file:hover ::deep .action-container {
    margin-left: 5px;
    font-size: 14px;
    z-index: 1;
}

.file .loading ~ ::deep .action-container,
.file:not(:hover) ::deep .action-container {
    display: none;
}

@container filelist-item (width < 105px) {
    .file:hover ::deep .action-container {
        display: none;
    }
}

.child-files {
    display: flex;
    flex-direction: column;
    padding-left: 0.5em;
}

.child-files.collapsed {
    display: none;
}

.child-files .message {
    padding: 2px 6px 2px 22px;
    line-height: 18px;
    font-size: 14px;
    text-align: left;
    font-style: italic;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--panel-item-txt-disabled);
    overflow: hidden;
}