﻿@implements IDisposable

<CascadingValue Value="List" IsFixed="true">
    <CascadingValue Value="FileActionProvider" IsFixed="true" Name="FileActionProvider">
        <CascadingValue Value="FileContextActionProvider" IsFixed="true" Name="FileContextActionProvider">
            @foreach (var file in List.OrderBy(f => f, Comparer))
            {
                <FileListItem @key="file" File="file"/>
            }
        </CascadingValue>
    </CascadingValue>
</CascadingValue>

@code {
    private static readonly FileComparer Comparer = new();

    [Parameter, EditorRequired]
    public IFileList List { get; set; } = null!;

    [Parameter]
    public Func<FileData, IReadOnlyList<ContextAction>> FileActionProvider { get; set; } = _ => [];

    [Parameter]
    public Func<FileData, IReadOnlyList<ContextAction>> FileContextActionProvider { get; set; } = _ => [];

    protected override void OnInitialized()
    {
        List.FilesChanged += OnFilesChanged;
        List.SelectionChanged += OnSelectionChanged;
    }

    private void OnFilesChanged(object? sender, EventArgs args) => InvokeAsync(StateHasChanged);

    private void OnSelectionChanged(object? sender, EventArgs args) => InvokeAsync(StateHasChanged);

    public void Dispose()
    {
        List.FilesChanged -= OnFilesChanged;
        List.SelectionChanged -= OnSelectionChanged;
    }

    internal class FileComparer : IComparer<FileData>
    {
        public int Compare(FileData? x, FileData? y)
        {
            if (y is null) return -1;
            if (x is null) return 1;

            if (x is FolderFileData && y is not FolderFileData) return -1;
            if (x is not FolderFileData && y is FolderFileData) return 1;
            return string.Compare(x.Name, y.Name, StringComparison.Ordinal);
        }
    }
}