﻿@implements IAsyncDisposable

@inject ContextMenuService ContextMenuService
@inject DialogService DialogService
@inject IJSRuntime JsRuntime

<div @ref="_container" class="container">
    @if (_actions?.Length > 0)
    {
        <ContextMenuContainer Actions="_actions" OnClick="CallAndClose"/>
    }
</div>

@code {
    private ElementReference _container;
    private IJSObjectReference? _jsModule;
    private ContextAction[]? _actions;

    protected override void OnInitialized()
    {
        ContextMenuService.Opened += OnOpened;
        ContextMenuService.Closed += OnClosed;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender) return;

        _jsModule = await JsRuntime.InvokeAsync<IJSObjectReference>("import", $"./Components/{nameof(ContextMenu)}/{nameof(ContextMenuProvider)}.razor.js");
        await _jsModule.InvokeVoidAsync("setup", DotNetObjectReference.Create(this));
    }

    private void OnOpened(object? sender, MenuData args)
    {
        if (_jsModule is null) return;

        _actions = args.Actions.ToArray();
        if (_actions.Length == 0) return;

        InvokeAsync(StateHasChanged);
        _jsModule.InvokeVoidAsync("open", _container, args.Reference, args.Position, args.UseReferenceForPosition);
    }

    private void OnClosed(object? sender, EventArgs args)
    {
        if (_actions is null || _jsModule is null) return;

        _actions = null;

        InvokeAsync(StateHasChanged);
        _jsModule.InvokeVoidAsync("close");
    }

    private async Task CallAndClose(ContextAction action)
    {
        if (_jsModule is null || action.OnClick is null) return;

        ContextMenuService.Close();
        try
        {
            await action.OnClick.Invoke();
        }
        catch (Exception ex)
        {
            _ = DialogService.ShowMessageDialog($"An error occurred during execution: {ex.Message}", StatusType.Error);
        }
    }

    [JSInvokable]
    public Task OnClose()
    {
        ContextMenuService.Close();
        return Task.CompletedTask;
    }

    public async ValueTask DisposeAsync()
    {
        ContextMenuService.Opened -= OnOpened;
        ContextMenuService.Closed -= OnClosed;

        if (_jsModule is null) return;

        try
        {
            await _jsModule.DisposeAsync();
        }
        catch
        {
            //ignored
        }
    }
}