﻿<div class="container">
    @foreach (var action in Actions)
    {
        if (action.Name == ContextAction.Separator.Name)
        {
            <hr/>
        }
        else if (action.OnClick is null)
        {
            <div class="action@(action.Active ? "" : " disabled")">
                @if (action.Icon is not null)
                {
                    <Icon Value="action.Icon" Class="icon" Color="@action.IconColor"/>
                }
                else if (_hasIcons)
                {
                    <span class="icon-spacer"></span>
                }
                <span class="label">@action.Name</span>
            </div>
        }
        else
        {
            <button class="action" disabled="@(!action.Active)" @onclick="() => OnClick.InvokeAsync(action)">
                @if (action.Icon is not null)
                {
                    <Icon Value="action.Icon" Class="icon" Color="@action.IconColor"/>
                }
                else if (_hasIcons)
                {
                    <span class="icon-spacer"></span>
                }
                <span class="label">@action.Name</span>
            </button>
        }
    }
</div>

@code {
    private bool _hasIcons;

    [Parameter, EditorRequired]
    public IEnumerable<ContextAction> Actions { get; set; } = [];

    [Parameter]
    public EventCallback<ContextAction> OnClick { get; set; }

    protected override void OnParametersSet()
    {
        _hasIcons = false;
        foreach (var action in Actions)
        {
            if (action.Icon is null) continue;
            _hasIcons = true;
            break;
        }
    }
}