﻿.container {
    display: flex;
    flex-direction: column;
    min-width: 150px;
    max-height: 100%;
    background-color: var(--context-bg);
    border: 1px solid var(--context-border);
    border-radius: 5px;
    box-shadow: var(--context-shadow);
    overflow-y: auto;
}


.container::-webkit-scrollbar {
    width: 4px;
}

.container::-webkit-scrollbar-button {
    height: 4px;
}

.container > .action:first-child {
    margin-top: 4px;
}

.container > .action:last-child {
    margin-bottom: 4px;
}

.action {
    box-sizing: border-box;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    height: 2em;
    margin: 0 4px;
    padding: 5px;
    font-size: 13px;
    text-align: left;
    white-space: nowrap;
    color: var(--context-item-txt);
    background-color: var(--context-item-bg);
    border-radius: 4px;
}

button.action:hover {
    color: var(--context-item-txt-hover);
    background-color: var(--context-item-bg-hover);
}

button.action:active {
    color: var(--context-item-txt-active);
    background-color: var(--context-item-bg-active);
}

button.action:disabled,
.action.disabled {
    color: var(--context-item-txt-disabled);
    background-color: var(--context-item-bg-disabled);
}

.action ::deep .icon {
    flex-shrink: 0;
}

button.action:disabled ::deep .icon,
.action.disabled ::deep .icon {
    stroke: currentColor;
}

.action .icon-spacer {
    flex-shrink: 0;
    width: 1em;
}

.label {
    margin: 0 10px;
}

hr {
    margin: 4px 0;
    border: 0;
    border-top: 1px solid var(--context-border);
}

hr:first-child,
hr:last-child {
    margin: 4px 0 0 0;
    border: 0;
}