﻿.focus-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 50px;
    background-color: var(--base-bg);
    z-index: 1000;
    cursor: wait;
    animation: intro 0.4s 1.6s linear forwards;
}

.intro ::deep .icon {
    max-width: 100%;
    max-height: 100%;
    font-size: 200px;
    filter: drop-shadow(0 0 5px var(--editor-bg));
    transform: translateY(10px);
    animation: intro-icon 0.4s forwards;
}

.intro .title {
    margin-top: -20px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: var(--accent);
    opacity: 0;
    animation: intro-title 0.4s 0.4s forwards;
}

.intro .title .sub-title {
    display: block;
    margin-top: -2px;
    font-size: 14px;
    color: #555;
}

@keyframes intro {
    0%   { opacity: 1; }
    99%  { opacity: 0; }
    100% { display: none; }
}

@keyframes intro-icon {
    from { transform: translateY(10px); }
    to   { transform: translateY(0); }
}

@keyframes intro-title {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.content {
    flex-grow: 1;
    position: relative;
    height: 0;
}

.no-files {
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
}

.no-files p {
    margin: 0;
    font-size: 14px;
    text-align: center;
}

.no-files > ::deep :nth-child(n+2) {
    margin-top: 10px;
}