@implements IDisposable

@inject AppStateService AppStateService
@inject FileBrowserService FileBrowserService
@inject EditorService EditorService
@inject UpdateService UpdateService
@inject ContextActionProvider ContextActionProvider
@* ReSharper disable once UnusedMember.Local *@
@inject ScopeHandleService ScopeHandleService
@inject JsRuntimeProvider JsRuntimeProvider
@inject IJSRuntime JsRuntime

<div class="focus-container">
    <div class="intro">
        <Icon Value="GlobalIcons.AppIcon" Class="icon" StrokeWidth="0"/>
        <div class="title">
            MSBT Editor
            <span class="sub-title">Version @UpdateService.CurrentVersion</span>
        </div>
    </div>
    <Header/>
    <div class="content">
        <SplitContainer SnapOffset="0">
            <SplitPanel Size="20" MinSize="150" Order="0">
                @if (FileBrowserService.Count == 0)
                {
                    <div class="no-files">
                        <p>Open a MSBT file to start editing</p>
                        <Button OnClick="AppStateService.LoadFiles">Open Files</Button>
                        <Button OnClick="AppStateService.LoadFolder">Open Folder</Button>
                    </div>
                }
                else
                {
                    <ScrollContainer Header="Loaded Files">
                        <FileList List="FileBrowserService"
                                  FileActionProvider="ContextActionProvider.GetBrowserFileActions"
                                  FileContextActionProvider="ContextActionProvider.GetBrowserFileContextActions">
                        </FileList>
                    </ScrollContainer>
                }
            </SplitPanel>
            <SplitPanel Size="60" MinSize="200" Order="1">
                <EditorGrid Node="EditorService.RootNode"/>
            </SplitPanel>
            <SplitPanel @ref="_glossaryPanel" Size="20" Collapsed="true" Order="2">
                <ScrollContainer Header="Tag Glossary" HeaderActions="_glossaryHeaderActions">
                    <TagGlossary/>
                </ScrollContainer>
            </SplitPanel>
        </SplitContainer>
    </div>
    <StatusBar/>
    <DialogProvider/>
    <ContextMenuProvider/>
</div>

@code {
    private SplitPanel _glossaryPanel = null!;
    private IReadOnlyList<ContextAction> _glossaryHeaderActions = [];

    protected override void OnInitialized()
    {
        _glossaryHeaderActions =
        [
            new ContextAction
            {
                Name = "Close Glossary",
                Icon = GlobalIcons.X,
                OnClick = () => _glossaryPanel.Collapse()
            }
        ];

        AppStateService.GlossaryToggled += OnGlossaryToggled;
        FileBrowserService.FilesChanged += OnFilesChanged;

        JsRuntimeProvider.SetRuntime(JsRuntime);
    }

    private void OnGlossaryToggled(object? sender, EventArgs args) => _glossaryPanel.Toggle();

    private void OnFilesChanged(object? sender, EventArgs args) => InvokeAsync(StateHasChanged);

    public void Dispose()
    {
        AppStateService.GlossaryToggled -= OnGlossaryToggled;
        FileBrowserService.FilesChanged -= OnFilesChanged;
    }
}