﻿@using NintendoTools.FileFormats.Bmg
@using NintendoTools.FileFormats.Msbt

@implements IDisposable

@inject GameConfigService GameConfigService

@if (_config is not null)
{
    <div class="container">
        @if (_config.Bmg.TagMap.Count > 0 && _config.Msbt.TagMap.Count > 0)
        {
            <div class="tag"><div class="header"><span class="label">BMG</span></div></div>
        }
        @if (_config.Bmg.TagMap.Count > 0)
        {
            @foreach (var info in _config.Bmg.TagMap.OrderBy(f => f, BmgComparer))
            {
                var collapsed = GetToggleState(info);
                <div class="tag">
                    <button class="header" @onclick="() => ToggleState(info)">
                        <Icon Value="collapsed ? GlobalIcons.ChevronRight : GlobalIcons.ChevronDown" Class="toggle" StrokeWidth="1.5"/>
                        <span class="label">@(string.IsNullOrEmpty(info.Name) ? $"[{info.Group}:{(info.Type.HasValue ? info.Type.Value.ToString() : "??")}]" : info.Name)</span>
                    </button>
                    @if (!collapsed)
                    {
                        <div class="content">
                            @if (!string.IsNullOrEmpty(info.Description))
                            {
                                <div class="description">@info.Description</div>
                            }
                            <div class="info">Group: <b>@info.Group</b></div>
                            @if (info.TypeList.Count > 0)
                            {
                                <div class="info">Types: <b>@(info.Type.HasValue ? info.Type.Value + "," : "")@(string.Join(',', info.TypeList))</b></div>
                            }
                            else if (info.Type.HasValue)
                            {
                                <div class="info">Type: <b>@(info.Type.Value)</b></div>
                            }
                            @if (info.TypeMap.Count > 0)
                            {
                                <div class="info">Mapped Types:</div>
                                <div class="list">
                                    @foreach (var val in info.TypeMap)
                                    {
                                        <div class="item">
                                            <div class="info">@val.Value <Icon Value="GlobalIcons.ArrowLeftRight" Class="icon" StrokeWidth="1.5"/> <b>@val.Name</b></div>
                                            @if (!string.IsNullOrEmpty(val.Description))
                                            {
                                                <div class="description indent">@val.Description</div>
                                            }
                                        </div>
                                    }
                                </div>
                            }
                            @if (info.HasDiscard)
                            {
                                <div class="info">Matches all remaining types</div>
                            }
                            @if (info.Arguments.Count > 0)
                            {
                                <div class="info">Arguments:</div>
                                <div class="list">
                                    @foreach (var arg in info.Arguments)
                                    {
                                        <div class="item">
                                            @if (arg.IsPadding)
                                            {
                                                <div class="info disabled">padding (@arg.DataType.Name)</div>
                                            }
                                            else
                                            {
                                                <div class="info"><b>@arg.Name</b> (@arg.DataType.Name@(arg.ArrayLength > 0 ? $"[{arg.ArrayLength}]" : ""))</div>
                                            }
                                            @if (!string.IsNullOrEmpty(arg.Description))
                                            {
                                                <div class="description indent">@arg.Description</div>
                                            }
                                            @if (arg.ValueMap.Count > 0)
                                            {
                                                <div class="info indent">Mapped Values:</div>
                                                <div class="list indent">
                                                    @foreach (var val in arg.ValueMap)
                                                    {
                                                        <div class="item">
                                                            <div class="info">@val.Value <Icon Value="GlobalIcons.ArrowLeftRight" Class="icon" StrokeWidth="1.5"/> <b>@val.Name</b></div>
                                                            @if (!string.IsNullOrEmpty(val.Description))
                                                            {
                                                                <div class="description">@val.Description</div>
                                                            }
                                                        </div>
                                                    }
                                                </div>
                                            }
                                        </div>
                                    }
                                </div>
                            }
                        </div>
                    }
                </div>
            }
        }
        @if (_config.Bmg.TagMap.Count > 0 && _config.Msbt.TagMap.Count > 0)
        {
            <div class="tag"><div class="header"><span class="label">MSBT</span></div></div>
        }
        @if (_config.Msbt.TagMap.Count > 0)
        {
            @foreach (var info in _config.Msbt.TagMap.OrderBy(f => f, MsbtComparer))
            {
                var collapsed = GetToggleState(info);
                <div class="tag">
                    <button class="header" @onclick="() => ToggleState(info)">
                        <Icon Value="collapsed ? GlobalIcons.ChevronRight : GlobalIcons.ChevronDown" Class="toggle" StrokeWidth="1.5"/>
                        <span class="label">@(string.IsNullOrEmpty(info.Name) ? $"[{info.Group}:{(info.Type.HasValue ? info.Type.Value.ToString() : "??")}]" : info.Name)</span>
                    </button>
                    @if (!collapsed)
                    {
                        <div class="content">
                            @if (!string.IsNullOrEmpty(info.Description))
                            {
                                <div class="description">@info.Description</div>
                            }
                            <div class="info">Group: <b>@info.Group</b></div>
                            @if (info.TypeList.Count > 0)
                            {
                                <div class="info">Types: <b>@(info.Type.HasValue ? info.Type.Value + "," : "")@(string.Join(',', info.TypeList))</b></div>
                            }
                            else if (info.Type.HasValue)
                            {
                                <div class="info">Type: <b>@(info.Type.Value)</b></div>
                            }
                            @if (info.TypeMap.Count > 0)
                            {
                                <div class="info">Mapped Types:</div>
                                <div class="list">
                                    @foreach (var val in info.TypeMap)
                                    {
                                        <div class="item">
                                            <div class="info">@val.Value <Icon Value="GlobalIcons.ArrowLeftRight" Class="icon" StrokeWidth="1.5"/> <b>@val.Name</b></div>
                                            @if (!string.IsNullOrEmpty(val.Description))
                                            {
                                                <div class="description indent">@val.Description</div>
                                            }
                                        </div>
                                    }
                                </div>
                            }
                            @if (info.HasDiscard)
                            {
                                <div class="info">Matches all remaining types</div>
                            }
                            @if (info.Arguments.Count > 0)
                            {
                                <div class="info">Arguments:</div>
                                <div class="list">
                                    @foreach (var arg in info.Arguments)
                                    {
                                        <div class="item">
                                            @if (arg.IsPadding)
                                            {
                                                <div class="info disabled">padding (@arg.DataType.Name)</div>
                                            }
                                            else
                                            {
                                                <div class="info"><b>@arg.Name</b> (@arg.DataType.Name@(arg.ArrayLength > 0 ? $"[{arg.ArrayLength}]" : ""))</div>
                                            }
                                            @if (!string.IsNullOrEmpty(arg.Description))
                                            {
                                                <div class="description indent">@arg.Description</div>
                                            }
                                            @if (arg.ValueMap.Count > 0)
                                            {
                                                <div class="info indent">Mapped Values:</div>
                                                <div class="list indent">
                                                    @foreach (var val in arg.ValueMap)
                                                    {
                                                        <div class="item">
                                                            <div class="info">@val.Value <Icon Value="GlobalIcons.ArrowLeftRight" Class="icon" StrokeWidth="1.5"/> <b>@val.Name</b></div>
                                                            @if (!string.IsNullOrEmpty(val.Description))
                                                            {
                                                                <div class="description">@val.Description</div>
                                                            }
                                                        </div>
                                                    }
                                                </div>
                                            }
                                        </div>
                                    }
                                </div>
                            }
                        </div>
                    }
                </div>
            }
        }
    </div>
}

@code {
    private static readonly BmgTagComparer BmgComparer = new();
    private static readonly MsbtTagComparer MsbtComparer = new();
    private readonly Dictionary<BmgTagInfo, bool> _bmgToggleMap = [];
    private readonly Dictionary<MsbtTagInfo, bool> _msbtToggleMap = [];
    private const bool DefaultToggleState = true;
    private GameConfig? _config;

    protected override void OnInitialized()
    {
        _config = GameConfigService.CurrentConfig;
        GameConfigService.CurrentConfigChanged += OnGameConfigChanged;
    }

    private void OnGameConfigChanged(object? sender, EventArgs args)
    {
        _config = GameConfigService.CurrentConfig;
        _bmgToggleMap.Clear();
        _msbtToggleMap.Clear();
        InvokeAsync(StateHasChanged);
    }

    private bool GetToggleState(BmgTagInfo info)
    {
        if (_bmgToggleMap.TryGetValue(info, out var value)) return value;

        _bmgToggleMap.Add(info, DefaultToggleState);
        return DefaultToggleState;
    }

    private bool GetToggleState(MsbtTagInfo info)
    {
        if (_msbtToggleMap.TryGetValue(info, out var value)) return value;

        _msbtToggleMap.Add(info, DefaultToggleState);
        return DefaultToggleState;
    }

    private void ToggleState(BmgTagInfo info)
    {
        if (_bmgToggleMap.TryGetValue(info, out var value)) _bmgToggleMap[info] = !value;
        else _bmgToggleMap.Add(info, !DefaultToggleState);
    }

    private void ToggleState(MsbtTagInfo info)
    {
        if (_msbtToggleMap.TryGetValue(info, out var value)) _msbtToggleMap[info] = !value;
        else _msbtToggleMap.Add(info, !DefaultToggleState);
    }

    public void Dispose() => GameConfigService.CurrentConfigChanged -= OnGameConfigChanged;

    internal class BmgTagComparer : IComparer<BmgTagInfo>
    {
        public int Compare(BmgTagInfo? x, BmgTagInfo? y)
        {
            if (y is null) return -1;
            if (x is null) return 1;

            if (x.Group != y.Group) return x.Group.CompareTo(y.Group);

            if (x.HasDiscard) return 1;
            if (y.HasDiscard) return -1;

            if (x.TypeList.Count > 0) return 1;
            if (y.TypeList.Count > 0) return -1;

            if (x.TypeMap.Count > 0) return 1;
            if (y.TypeMap.Count > 0) return -1;

            return string.Compare(x.Name, y.Name, StringComparison.OrdinalIgnoreCase);
        }
    }

    internal class MsbtTagComparer : IComparer<MsbtTagInfo>
    {
        public int Compare(MsbtTagInfo? x, MsbtTagInfo? y)
        {
            if (y is null) return -1;
            if (x is null) return 1;

            if (x.Group != y.Group) return x.Group.CompareTo(y.Group);

            if (x.Type.HasValue && y.Type.HasValue) return x.Type.Value.CompareTo(y.Type.Value);

            if (x.HasDiscard) return 1;
            if (y.HasDiscard) return -1;

            if (x.TypeList.Count > 0) return 1;
            if (y.TypeList.Count > 0) return -1;

            if (x.TypeMap.Count > 0) return 1;
            if (y.TypeMap.Count > 0) return -1;

            return string.Compare(x.Name, y.Name, StringComparison.OrdinalIgnoreCase);
        }
    }
}