﻿.tag {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: var(--panel-item-txt);
}

.tag:nth-child(n+2) {
    border-top: 1px solid var(--panel-border);
}

.tag .header {
    display: flex;
    align-items: center;
    padding: 2px 6px;
    height: 22px;
}

.tag .header ::deep .toggle {
    margin-right: 1px;
    font-size: 16px;
}

.tag .header .label {
    flex-grow: 1;
    margin-right: auto;
    line-height: 18px;
    text-align: left;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 0 6px 10px 22px;
}

.info {
    padding: 2px 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.info ::deep .icon {
    vertical-align: bottom;
}

.disabled {
    color: var(--panel-item-txt-disabled);
}

.bold {
    font-weight: bold;
}

.description {
    padding: 2px 0;
    font-style: italic;
    color: var(--panel-item-txt-disabled);
}

.description::first-letter {
    text-transform: uppercase;
}

.list,
.indent {
    padding-left: 16px;
}

.list.indent {
    padding-left: 32px;
}

.list .item {
    display: flex;
    flex-direction: column;
}