﻿.dialog-backdrop {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    background-color: var(--dialog-backdrop);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    z-index: 1000;
}

.dialog-container {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 100%;
    max-height: 100%;
    background-color: var(--dialog-bg);
    border-radius: 5px;
    box-shadow: var(--dialog-shadow);
    overflow: auto;
}