﻿@if (Visible)
{
    <div class="dialog-backdrop" @onclick="OnOutsideClick">
        <div class="dialog-container" @onclick:stopPropagation="true">
            <CascadingValue Value="this" IsFixed="true">
                @ChildContent
            </CascadingValue>
        </div>
    </div>
}

@code {
    [Parameter]
    public bool PreventClose { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public EventCallback<DialogResult> OnClose { get; set; }

    public bool Visible { get; private set; }

    public void Show()
    {
        if (Visible) return;

        Visible = true;
        InvokeAsync(StateHasChanged);
    }

    public void Close() => Close(DialogResultType.Ok);

    public void Close(DialogResult result)
    {
        if (!Visible) return;

        Visible = false;
        InvokeAsync(StateHasChanged);
        OnClose.InvokeAsync(result);
    }

    private void OnOutsideClick()
    {
        if (!PreventClose) Close(DialogResultType.Close);
    }
}