﻿.container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: 20px;
    overflow: hidden;
}

.container.small {
    width: 300px;
}

.container.medium {
    width: 400px;
}

.container.wide {
    width: 600px;
}

.container.extra-wide {
    width: 800px;
}

.content {
    display: flex;
    flex-direction: column;
    position: relative;
    font-size: 14px;
    overflow-x: hidden;
    overflow-y: auto;
}

.buttons {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.buttons > ::deep * {
    margin-left: 10px;
}

.buttons > ::deep :first-child {
    margin-left: auto;
}