﻿<div class="container@(_sizeClass)">
    <div class="content">
        @ChildContent
    </div>
    @if (_buttons.Count > 0)
    {
        <div class="buttons">
            @foreach (var button in _buttons)
            {
                <Button Disabled="ButtonsDisabled" OnClick="() => OnButtonClick.InvokeAsync(button)">@button.ToString()</Button>
            }
        </div>
    }
</div>

@code {
    private string _sizeClass = string.Empty;
    private IList<DialogButtons> _buttons = [];

    [Parameter]
    public DialogSize Size { get; set; } = DialogSize.MinContent;

    [Parameter]
    public DialogButtons? Buttons { get; set; }

    [Parameter]
    public bool ButtonsDisabled { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public EventCallback<DialogButtons> OnButtonClick { get; set; }

    protected override void OnParametersSet()
    {
        _sizeClass = Size switch
        {
            DialogSize.MinContent => string.Empty,
            DialogSize.Small      => " small",
            DialogSize.Medium     => " medium",
            DialogSize.Wide       => " wide",
            DialogSize.ExtraWide  => " extra-wide",
            _                     => string.Empty
        };

        var buttons = new List<DialogButtons>();
        if (Buttons is not null)
        {
            foreach (var value in Enum.GetValues<DialogButtons>())
            {
                if (Buttons.Value.HasFlag(value)) buttons.Add(value);
            }
        }
        _buttons = buttons;
    }
}