﻿.content {
    display: flex;
}

.content ::deep .icon {
    margin: 5px 25px 0 5px;
    font-size: 60px;
}

.content .message {
    text-align: left;
    line-height: 1.5;
    -ms-word-break: break-all;
        word-break: break-all;
        word-break: break-word;
    -webkit-hyphens: auto;
       -moz-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
}