﻿<DialogContainer Size="DialogSize.Medium" Buttons="Buttons" OnButtonClick="button => Dialog?.Close(button)">
    <div class="content">
        @if (Status is not null)
        {
            <StatusIcon Status="Status" Class="icon" StrokeWidth="1.5"/>
        }
        <div class="message">@Message</div>
    </div>
</DialogContainer>

@code {
    [Parameter]
    public StatusType? Status { get; set; }

    [Parameter, EditorRequired]
    public string Message { get; set; } = string.Empty;

    [Parameter]
    public DialogButtons Buttons { get; set; } = DialogButtons.Ok;

    [CascadingParameter]
    private Dialog? Dialog { get; set; }
}