﻿@charset 'UTF-8';

html * {
    -webkit-text-size-adjust: 100%;
       -moz-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

input,
textarea {
    -webkit-touch-callout: initial;
        -webkit-user-drag: initial;
    -webkit-user-select: initial;
     -khtml-user-select: initial;
       -moz-user-select: initial;
        -ms-user-select: initial;
            user-select: initial;
}

button,
fieldset,
input,
select,
textarea {
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    line-height: 1.15;
    font-family: inherit;
    font-size: 100%;
    background: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    box-shadow: none;
    border-radius: none;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button,
input {
  overflow: visible;
}

button,
select,
label * {
    text-transform: none;
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

input::-ms-reveal {
    display: none;
}

button::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring {
    outline: 1px dotted ButtonText;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto;
}

html, body {
    position: relative;
    margin: 0;
    height: 100vh;
    font-size: 16px;
    font-weight: normal;
    font-family: -apple-system,BlinkMacSystemFont,Segoe WPC,Segoe UI,HelveticaNeue-Light,system-ui,Ubuntu,Droid Sans,sans-serif;
    color: var(--base-txt);
    background-color: var(--base-bg);
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6, p, a {
    font-weight: normal;
}

a, a:hover {
    background-color: transparent;
    -webkit-touch-callout: default;
    text-decoration: none;
}

a, a *,
button, button *,
select, select * {
    color: inherit;
    cursor: pointer;
}

.loading, .loading * {
    cursor: progress;
}

.help, .help * {
    cursor: help;
}

*:disabled, .disabled {
    pointer-events: none;
    cursor: not-allowed;
}

.center {
    display: block;
    margin: 0 auto;
    text-align: center;
}

[hidden], .hidden {
    display: none !important;
}

[draggable] {
    cursor: pointer;
}

*::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.1);
}

*::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

*::-webkit-scrollbar-corner {
    background-color: transparent;
}

#app {
    height: 100%;
}

:root {
    --base-txt: #ccc;
    --base-bg: #252526;

    --menu-bg: #323233;
    --menu-item-txt: #ccc;
    --menu-item-txt-hover: #fff;
    --menu-item-txt-active: #fff;
    --menu-item-txt-disabled: #aaa;
    --menu-item-bg: transparent;
    --menu-item-bg-hover: rgba(255, 255, 255, 0.1);
    --menu-item-bg-active: rgba(255, 255, 255, 0.2);
    --menu-item-bg-diabled: transparent;

    --panel-bg: #252526;
    --panel-header-txt: #ccc;
    --panel-header-bg: #252526;
    --panel-item-txt: #ccc;
    --panel-item-txt-hover: #fff;
    --panel-item-txt-active: #fff;
    --panel-item-txt-modified: #c85040;
    --panel-item-txt-disabled: #aaa;
    --panel-item-bg-hover: #2a2d2e;
    --panel-item-bg-active: #37373d;
    --panel-border: rgba(204, 204, 204, 0.2);

    --split-handle: transparent;
    --split-handle-hover: #137cc9;
    --split-handle-active: #137cc9;

    --action-txt: inherit;
    --action-txt-hover: #fff;
    --action-txt-active: #fff;
    --action-txt-disabled: #aaa;
    --action-bg: transparent;
    --action-bg-hover: rgba(255, 255, 255, 0.1);
    --action-bg-active: rgba(255, 255, 255, 0.2);
    --action-bg-disabled: transparent;

    --tab-bg: #252526;
    --tab-item-txt: #ccc;
    --tab-item-txt-hover: #fff;
    --tab-item-txt-active: #fff;
    --tab-item-txt-selected: #fff;
    --tab-item-txt-modified: #c85040;
    --tab-item-txt-disabled: #aaa;
    --tab-item-bg: #2d2d2d;
    --tab-item-bg-hover: #2d2d2d;
    --tab-item-bg-active: #2d2d2d;
    --tab-item-bg-selected: #1e1e1e;
    --tab-item-bg-disabled: #2d2d2d;
    --tab-drop-handle: #137cc9;

    --breadcrumb-txt: #aaa;
    --breadcrumb-bg: #1e1e1e;

    --editor-txt: #ccc;
    --editor-bg: #1e1e1e;
    --editor-drop-bg: rgba(255, 255, 255, 0.1);

    --status-bg: #007acc;
    --status-item-txt: #fff;
    --status-item-txt-hover: #fff;
    --status-item-txt-active: #fff;
    --status-item-txt-disabled: #fff;
    --status-item-bg: transparent;
    --status-item-bg-hover: rgba(255, 255, 255, 0.12);
    --status-item-bg-active: rgba(255, 255, 255, 0.18);
    --status-item-bg-disabled: transparent;

    --btn-txt: #fff;
    --btn-txt-hover: #fff;
    --btn-txt-active: #fff;
    --btn-txt-disabled: #ccc;
    --btn-bg: #0e639c;
    --btn-bg-hover: #1177bb;
    --btn-bg-active: #1177bb;
    --btn-bg-disabled: #43494d;

    --btn2-txt: #fff;
    --btn2-txt-hover: #fff;
    --btn2-txt-active: #fff;
    --btn2-txt-disabled: #ccc;
    --btn2-bg: #3a3d41;
    --btn2-bg-hover: #45494e;
    --btn2-bg-active: #45494e;
    --btn2-bg-disabled: #43494d;

    --input-txt: #ccc;
    --input-txt-focus: #ccc;
    --input-txt-error: #d53915;
    --input-txt-disabled: #ccc;
    --input-placeholder: #aaa;
    --input-bg: #3c3c3c;
    --input-bg-focus: #3c3c3c;
    --input-bg-error: #3c3c3c;
    --input-bg-disabled: #252526;
    --input-border: transparent;
    --input-border-focus: #007fd4;
    --input-border-error: #d53915;
    --input-border-disabled: #303031;

    --list-txt: #ccc;
    --list-txt-hover: #fff;
    --list-txt-active: #fff;
    --list-txt-selected: #fff;
    --list-txt-disabled: #aaa;
    --list-bg: transparent;
    --list-bg-hover: #2a2d2e;
    --list-bg-active: #2a2d2e;
    --list-bg-selected: #04395e;
    --list-bg-disabled: transparent;
    --list-separator: #ccc;

    --context-bg: #252526;
    --context-border: rgba(204, 204, 204, 0.2);
    --context-item-txt: #ccc;
    --context-item-txt-hover: #fff;
    --context-item-txt-active: #fff;
    --context-item-txt-disabled: #666;
    --context-item-bg: transparent;
    --context-item-bg-hover: #0e639c;
    --context-item-bg-active: #0e639c;
    --context-item-bg-disabled: transparent;
    --context-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);

    --dialog-backdrop: rgba(0, 0, 0, 0.2);
    --dialog-bg: #252526;
    --dialog-box-bg: rgba(0, 0, 0, 0.2);
    --dialog-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);

    --accent: #137cc9;
    --success: #02d202;
    --info: #4a8fed;
    --warning: #d1cf0a;
    --error: #d53915;
    --unknown: #c5c5c5;
}