﻿.container {
    display: flex;
}

.container > ::deep .icon {
    max-width: 100%;
    max-height: 100%;
    font-size: 150px;
    filter: drop-shadow(0 0 5px var(--editor-bg));
}

.text {
    margin-left: 20px;
}

.text a {
    color: var(--accent);
    text-decoration: solid underline;
}

.box {
    padding: 5px 10px;
    background-color: var(--dialog-box-bg);
    border-radius: 5px;
}