﻿@inject UpdateService UpdateService

<DialogContainer Size="DialogSize.Wide" Buttons="DialogButtons.Ok" OnButtonClick="button => Dialog?.Close(button)">
    <div class="container">
        <Icon Value="GlobalIcons.AppIcon" Class="icon" StrokeWidth="0"/>
        <div class="text">
            An interactive editor for MSBT files. Allows opening, editing and saving MSBT files and provides syntax highlighting with customizable tag maps.<br/>
            <br/>
            This project is open-source and available at: <a href="https://gitlab.com/AeonSake/msbt-editor">https://gitlab.com/AeonSake/msbt-editor</a><br/>
            NintendoTools is used for processing Nintendo file formats: <a href="https://gitlab.com/AeonSake/msbt-editor">https://gitlab.com/AeonSake/nintendo-tools</a><br/>
            <br/>
            <div class="box">
                <b>Version:</b> @UpdateService.CurrentVersion.ToShortString()<br/>
                <b>Commit:</b> @(string.IsNullOrEmpty(UpdateService.CurrentVersion.Hash) ? "(none)" : UpdateService.CurrentVersion.Hash)<br/>
                <b>Build Time:</b> @UpdateService.CurrentVersion.BuildTime.ToString("u")<br/>
                @UpdateService.CurrentVersion.Copyright
            </div>
        </div>
    </div>
</DialogContainer>

@code {
    [CascadingParameter]
    private Dialog? Dialog { get; set; }
}