﻿@using NintendoTools.FileFormats

@implements IDisposable

<DialogContainer Size="DialogSize.Wide">
    @if (_infos is null)
    {
        <div class="message center">Parsing archive file...</div>
        <LoadingBar Value="-1"/>
    }
    else
    {
        <div class="message">@_validCount / @_infos.Count alignments match.</div>
        foreach (var info in _infos)
        {
            <div class="info">
                <input class="checkbox" type="checkbox" id="@info.DataStart"/>
                <label class="header" for="@info.DataStart">
                    <StatusIcon Class="icon" Status="info.IsValid ? StatusType.Success : StatusType.Error"/>
                    <div>Expected: <span class="hex">0x@($"{info.ExpectedDataStart:X8}")</span> | Actual: <span class="hex">0x@($"{info.DataStart:X8}")</span> | <span class="hex">@Path.GetExtension(info.Name)</span></div>
                </label>
                <div class="content">
                    <div class="name" title="@info.Name">@info.Name</div>
                    <div>Start: <span class="hex">0x@($"{info.DataStart:X8}")</span></div>
                    <div>End: <span class="hex">0x@($"{info.DataEnd:X8}")</span></div>
                    <div>Length: <span class="hex">0x@($"{info.DataLength:X8}")</span></div>
                    <div>Padding: <span class="hex">0x@($"{info.Padding:X4}")</span></div>
                    <div>Alignment: <span class="hex">0x@($"{info.Alignment:X4}")</span></div>
                </div>
            </div>
        }
    }
</DialogContainer>

@code {
    private readonly CancellationTokenSource _cancellationTokenSource = new();
    private List<AlignmentInfo>? _infos;
    private int _validCount;

    [Parameter, EditorRequired]
    public IAlignedContainerFileData File { get; set; } = null!;

    protected override void OnInitialized()
    {
        var token = _cancellationTokenSource.Token;
        Task.Run(() =>
        {
            try
            {
                var task = File.CheckAlignment().WaitAsync(token);
                if (token.IsCancellationRequested || !task.IsCompletedSuccessfully) return;

                foreach (var info in task.Result)
                {
                    if (info.IsValid) ++_validCount;
                }
                _infos = task.Result;

                if (!token.IsCancellationRequested) InvokeAsync(StateHasChanged);
            }
            catch
            {
                //ignored
            }
        }, token);
    }

    public void Dispose() => _cancellationTokenSource.Cancel();
}