﻿.message {
    margin-bottom: 10px;
}

.info {
    background-color: var(--menu-bg);
    border-radius: 5px;
}

.info:not(:last-child) {
    margin-bottom: 10px;
}

.checkbox {
    display: none;
}

.checkbox:checked ~ .content {
    display: flex;
}

.header {
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
}

.header > :nth-child(n+2) {
    margin-left: 5px;
}

.hex {
    font-family: monospace;
}

.content {
    display: none;
    flex-direction: column;
    padding: 0 5px 5px 24px;
}

.name {
    -ms-word-break: break-all;
        word-break: break-all;
        word-break: break-word;
}