﻿<DialogContainer Buttons="DialogButtons.Ok" OnButtonClick="OnButtonClicked" ButtonsDisabled="!_textField?.Valid ?? true">
    <div class="content">
        @if (!string.IsNullOrEmpty(Message))
        {
            <div class="message">@Message</div>
        }
        <TextField @ref="_textField" @bind-Value="Name" Placeholder="@Placeholder" Class="input" Formatter="val => val.Trim()" Validator="val => val.Length > 0"/>
    </div>
</DialogContainer>

@code {
    private TextField? _textField;

    [Parameter]
    public string Message { get; set; } = string.Empty;

    [Parameter]
    public string Name { get; set; } = string.Empty;

    [Parameter]
    public string Placeholder { get; set; } = string.Empty;

    [CascadingParameter]
    private Dialog? Dialog { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender) return;
        await _textField!.Focus();
    }

    private void OnButtonClicked()
    {
        var name = Name.Trim();
        Dialog?.Close(new DialogResult<string>(name, name.Length > 0 ? DialogResultType.Ok : DialogResultType.Cancel));
    }
}