﻿@using System.Text.RegularExpressions

@implements IDisposable

@inject AppStateService AppStateService
@inject FileBrowserService FileBrowserService
@inject GameConfigService GameConfigService
@inject DialogService DialogService

<DialogContainer Size="DialogSize.Wide">
    <div class="message">Select a game config to use:</div>
    <SelectList>
        <SelectListItem Icon="GlobalIcons.Reload" OnClick="GameConfigService.Reload">Reload configs</SelectListItem>
        <hr/>
        @foreach (var (config, name) in _configs.OrderBy(config => config.Value))
        {
            <SelectListItem Selected="config == GameConfigService.CurrentFile" Actions="GetListActions(config)" OnClick="() => OnConfigClicked(config)">
                @name
            </SelectListItem>
        }
        <hr/>
        <SelectListItem Icon="GlobalIcons.ImportFile" OnClick="OnImportConfigClicked">Import config...</SelectListItem>
        <SelectListItem Icon="GlobalIcons.Plus" OnClick="OnCreateConfigClicked">Create new config...</SelectListItem>
        <SelectListItem Icon="GlobalIcons.Open" OnClick="OnOpenConfigFolderClicked">Open config folder...</SelectListItem>
    </SelectList>
    <br/>
    <Button Href="https://gitlab.com/AeonSake/msbt-editor/-/blob/master/doc/GameConfigs.md">Open documentation</Button>
    <span class="spacer"></span>
    <Button Href="https://gitlab.com/AeonSake/msbt-editor/-/tree/master/configs">Download predefined configs</Button>
</DialogContainer>

@code {
    private static readonly Regex GameNameRegex = new(@"^\s*game:\s*([""'])?\s*(\S.*?\S?)\s*\1\s*$", RegexOptions.IgnoreCase | RegexOptions.Multiline);
    private Dictionary<GameConfigFileData, string> _configs = [];

    [CascadingParameter]
    private Dialog? Dialog { get; set; }

    protected override async Task OnInitializedAsync()
    {
        GameConfigService.ConfigListChanged += OnConfigListChanged;

        await GetConfigNames();
    }

    // ReSharper disable once AsyncVoidMethod
    private async void OnConfigListChanged(object? sender, EventArgs args)
    {
        await GetConfigNames();
        await InvokeAsync(StateHasChanged);
    }

    private async Task GetConfigNames()
    {
        var configs = new Dictionary<GameConfigFileData, string>();

        foreach (var config in GameConfigService.Configs)
        {
            var name = Path.GetFileNameWithoutExtension(config.Name);

            try
            {
                var content = await config.LoadContent();
                var match = GameNameRegex.Match(content);
                if (match.Success && !string.IsNullOrEmpty(match.Groups[2].Value)) name = match.Groups[2].Value;
            }
            catch
            {
                //ignored
            }

            configs.TryAdd(config, name);
        }

        _configs = configs;
    }

    private IReadOnlyList<ContextAction> GetListActions(GameConfigFileData file) =>
    [
        new()
        {
            Name = "Edit Config",
            Icon = GlobalIcons.Edit,
            OnClick = () =>
            {
                Dialog?.Close();
                return AppStateService.LoadEditorData(file);
            }
        },
        new()
        {
            Name = "Delete Config",
            Icon = GlobalIcons.Delete,
            OnClick = () => GameConfigService.Delete(file)
        }
    ];

    private async Task OnConfigClicked(GameConfigFileData config)
    {
        if (GameConfigService.CurrentFile == config) return;

        var unsavedTextFiles = FileBrowserService.Files.Where(file => file.IsModified).ToArray();
        if (unsavedTextFiles.Length > 0)
        {
            var result = await DialogService.ShowMessageDialog("You have unsaved changes. Save files before changing Game Config?", StatusType.Warning, DialogButtons.Yes|DialogButtons.No|DialogButtons.Cancel);
            switch (result.Type)
            {
                case DialogResultType.Yes:
                    if (!await AppStateService.SaveFiles(unsavedTextFiles)) return;
                    break;
                case DialogResultType.Cancel:
                    return;
            }
        }

        try
        {
            await GameConfigService.Select(config);
            Dialog?.Close(DialogResultType.Ok);
        }
        catch (Exception ex)
        {
            await DialogService.ShowMessageDialog($"Failed to load Game Config \"{config.Name}\": {ex.Message}", StatusType.Error);
        }
    }

    private async Task OnImportConfigClicked()
    {
        var result = await DialogService.ShowOpenFileDialog("Game Config|*.gcf", true);
        var filePaths = result.Type is DialogResultType.Ok ? result.Value : null;
        if (filePaths is null || filePaths.Length == 0) return;

        try
        {
            foreach (var filePath in filePaths)
            {
                await GameConfigService.Load(filePath, true);
            }
        }
        catch (Exception ex)
        {
            await DialogService.ShowMessageDialog($"Failed to create new Game Config: {ex.Message}", StatusType.Error);
        }
    }

    private async Task OnCreateConfigClicked()
    {
        var result = await DialogService.ShowDialog<FileNameDialog, string>(new Dictionary<string, object> {{nameof(FileNameDialog.Message), "Choose a name for the new Game Config:"}});
        var name = result.Type is DialogResultType.Ok ? result.Value : null;
        if (string.IsNullOrEmpty(name)) return;

        if (name.EndsWith(".gcf", StringComparison.OrdinalIgnoreCase)) name = name[..^4];
        try
        {
            await GameConfigService.Create(name);
        }
        catch (Exception ex)
        {
            await DialogService.ShowMessageDialog($"Failed to create new Game Config: {ex.Message}", StatusType.Error);
        }
    }

    private Task OnOpenConfigFolderClicked() => DialogService.OpenFileExplorer(CommonPaths.ConfigFolder);

    public void Dispose() => GameConfigService.ConfigListChanged -= OnConfigListChanged;
}