﻿<DialogContainer Size="DialogSize.Medium">
    <div class="message">The MSBT Editor now uses <b>Game Configs</b> instead of <b>Function Maps</b>. Game Configs allow for much broader configuration on a per-game level.</div>
    @if (ConvertedMaps > 0)
    {
        <div class="message">@(ConvertedMaps) function maps have been automatically converted into game configs.</div>
    }
    <Button Href="https://gitlab.com/AeonSake/msbt-editor/-/blob/master/doc/GameConfigs.md">Open documentation</Button>
    <span class="spacer"></span>
    <Button Href="https://gitlab.com/AeonSake/msbt-editor/-/tree/master/configs">Download predefined configs</Button>
</DialogContainer>

@code {
    [CascadingParameter]
    private Dialog? Dialog { get; set; }

    [Parameter]
    public int ConvertedMaps { get; set; }
}