﻿@inject EditorService EditorService
@inject DialogService DialogService

<DialogContainer Size="DialogSize.Medium">
    <SelectList>
        @foreach (var factory in _factories)
        {
            <SelectListItem Selected="factory == OldTab?.EditorFactory" OnClick="() => OnFactoryClicked(factory)">@factory.Name</SelectListItem>
        }
    </SelectList>
</DialogContainer>

@code {
    private IEnumerable<IEditorFactory> _factories = [];

    [Parameter, EditorRequired]
    public FileData File { get; set; } = null!;

    [Parameter]
    public IEditorTabGroup? TabGroup { get; set; }

    [Parameter]
    public IEditorData? OldTab { get; set; }

    [CascadingParameter]
    private Dialog? Dialog { get; set; }

    protected override void OnInitialized() => _factories = EditorService.GetFactories(File);

    private async Task OnFactoryClicked(IEditorFactory factory)
    {
        if (factory == OldTab?.EditorFactory)
        {
            Dialog?.Close();
            return;
        }

        IEditorData? data = null;
        try
        {
            data = await factory.CreateEditor(File);

            var tabGroup = TabGroup ?? EditorService.ActiveTabGroup;
            if (OldTab is null) await EditorService.LoadTab(data, tabGroup);
            else await EditorService.ReplaceTab(OldTab, data, tabGroup);

            Dialog?.Close();
        }
        catch (Exception ex)
        {
            if (data is not null) await data.DisposeAsync();
            await DialogService.ShowMessageDialog($"Failed to create editor content for file: {ex.Message}", StatusType.Error);
        }
    }
}