﻿h2 {
    margin: 0;
    padding: 0 5px;
    font-size: 16px;
}

.entry + h2 {
    margin-top: 15px;
}

.entry {
    margin-top: 5px;
    padding: 10px;
    background-color: var(--dialog-box-bg);
    border-radius: 5px;
}

.option {
    display: flex;
    align-items: center;
}

.option ::deep > :nth-child(n+2) {
    margin-left: 10px;
}

.option ::deep .short-input {
    width: 50px;
}

.option ::deep .medium-input {
    width: 80px;
}

.option ::deep .long-input {
    width: 120px;
}

.option ::deep .fill-input {
    flex-grow: 1;
}

.option ::deep .center-input {
    text-align: center;
}

.option ::deep .short-num-input input {
    text-align: center;
}

.description {
    margin-top: 5px;
    color: var(--input-placeholder);
}