﻿@inject IWritableOptions<FileBrowserSettings> FileBrowserSettings
@inject IWritableOptions<EditorSettings> EditorSettings
@inject IWritableOptions<UpdateSettings> UpdateSettings
@inject ILogger<SettingsDialog> Logger

<DialogContainer Size="DialogSize.Wide">
    <h2>File Browser</h2>
    <div class="entry">
        <div class="option">
            <span>Virtualization Threshold</span>
            <TextField Class="short-input" Value="@FileBrowserSettings.CurrentValue.VirtualizationThreshold.ToString()" Validator="IntValidator" ValueChanged="FileBrowserVirtualizationThresholdChanged"/>
        </div>
        <div class="description">
            Threshold to use on which the file browser starts to render elements virtually. Improves performance for large containers but will lose open/close state if scrolled out of view.
        </div>
    </div>
    <h2>Text Editor</h2>
    <div class="entry">
        <div class="option">
            <Toggle Value="EditorSettings.CurrentValue.ShowWhitespace" ValueChanged="EditorShowWhiteSpaceChanged">Show Whitespace</Toggle>
        </div>
        <div class="description">
            Display visual indicators instead of whitespaces in the text editor.
        </div>
    </div>
    <div class="entry">
        <div class="option">
            <Toggle Value="EditorSettings.CurrentValue.ShowNewLines" ValueChanged="EditorShowNewLinesChanged">Show Newlines</Toggle>
        </div>
        <div class="description">
            Display an icon at the end of each line in the text editor to indicate where a new line will be encoded into the message text.
        </div>
    </div>
    <div class="entry">
        <div class="option">
            <Toggle Value="EditorSettings.CurrentValue.WordWrap" ValueChanged="EditorWordWrapChanged">Word Wrap</Toggle>
        </div>
        <div class="description">
            Wrap long text blocks with the current width of the editor window. Wrapped text will show with a left indentation (which is not part of the text result).
        </div>
    </div>
    <div class="entry">
        <div class="option">
            <span>Max. Tokenization Line Length</span>
            <TextField Class="long-input" Value="@EditorSettings.CurrentValue.MaxTokenizationLineLength.ToString()" Validator="IntValidator" ValueChanged="EditorMaxTokenizationLineLengthChanged"/>
        </div>
        <div class="description">
            Lines above this length will not be tokenized (syntax highlighting) for performance reasons.
        </div>
    </div>
    <h2>Updates</h2>
    <div class="entry">
        <div class="option">
            <Toggle Value="UpdateSettings.CurrentValue.CheckOnStart" ValueChanged="UpdateCheckOnStartChanged">Check on app start</Toggle>
        </div>
        <div class="description">
            Automatically check for available software updates when the application is started.
        </div>
    </div>
</DialogContainer>

@code {
    private static bool IntValidator(string str) => int.TryParse(str, out _);

    private void FileBrowserVirtualizationThresholdChanged(string value)
    {
        if (!int.TryParse(value, out var threshold)) return;

        FileBrowserSettings.Update(settings => settings.VirtualizationThreshold = threshold);
        Logger.LogDebug("File browser virtualization threshold was set to {Threshold}.", threshold);
    }

    private void EditorShowWhiteSpaceChanged(bool value)
    {
        EditorSettings.Update(settings => settings.ShowWhitespace = value);
        Logger.LogDebug("Editor whitespace was set to {State}.", value);
    }

    private void EditorShowNewLinesChanged(bool value)
    {
        EditorSettings.Update(settings => settings.ShowNewLines = value);
        Logger.LogDebug("Editor new lines was set to {State}.", value);
    }

    private void EditorWordWrapChanged(bool value)
    {
        EditorSettings.Update(settings => settings.WordWrap = value);
        Logger.LogDebug("Editor word wrap was set to {State}.", value);
    }

    private void EditorMaxTokenizationLineLengthChanged(string value)
    {
        if (!int.TryParse(value, out var length)) return;

        EditorSettings.Update(settings => settings.MaxTokenizationLineLength = length);
        Logger.LogDebug("Max. tokenization line length was set to {Length}.", length);
    }

    private void UpdateCheckOnStartChanged(bool value)
    {
        UpdateSettings.Update(settings => settings.CheckOnStart = value);
        Logger.LogDebug("Update check on start was set to {State}.", value);
    }
}