﻿@implements IDisposable

@inject UpdateService UpdateService

<DialogContainer Size="DialogSize.Wide">
    <div class="box">
        <b>Current Version:</b> @UpdateService.CurrentVersion.ToShortString()<br/>
        <b>Commit:</b> @(string.IsNullOrEmpty(UpdateService.CurrentVersion.Hash) ? "(none)" : UpdateService.CurrentVersion.Hash)<br/>
        <b>Build Time:</b> @UpdateService.CurrentVersion.BuildTime.ToString("u")
    </div>
    @if (UpdateService.NextVersion is not null)
    {
        <div class="box">
            <b>Latest Version:</b> @UpdateService.NextVersion.ToShortString()<br/>
            <b>Commit:</b> @UpdateService.NextVersion.Hash<br/>
            <b>Release Time:</b> @UpdateService.NextVersion.ReleasedTime.ToString("u")
            <div class="description">@UpdateService.NextVersion.Description</div>
        </div>
    }
    <div class="buttons">
        @switch (UpdateService.State)
        {
            case UpdateState.Idle:
                @if (UpdateService.NextVersion is not null)
                {
                    <div class="center">This is the latest version.</div>
                }
                break;
            case UpdateState.NewVersionFound:
                <div>Newer version found.</div>
                break;
            case UpdateState.UpdateDone:
                <div>Update installed successfully. Restart application to apply.</div>
                <Button OnClick="UpdateService.Restart">Restart</Button>
                break;
            case UpdateState.Checking:
            case UpdateState.Downloading:
            case UpdateState.Unpacking:
            case UpdateState.Restarting:
                <div>@(UpdateService.State.ToString())...</div>
                break;
            case UpdateState.CheckFailed:
                <div>Failed to fetch update.</div>
                break;
            case UpdateState.DownloadFailed:
                <div>Failed to download update.</div>
                break;
            case UpdateState.UnpackFailed:
                <div>Failed to unpack update.</div>
                break;
        }
        @switch (UpdateService.State)
        {
            case UpdateState.Idle:
            case UpdateState.CheckFailed:
                <Button OnClick="UpdateService.Check">Check for update</Button>
                break;
            case UpdateState.Checking:
            case UpdateState.Downloading:
            case UpdateState.Unpacking:
            case UpdateState.Restarting:
                <LoadingBar Value="-1"/>
                break;
            case UpdateState.NewVersionFound:
            case UpdateState.DownloadFailed:
            case UpdateState.UnpackFailed:
                @if (UpdateService.NextVersion?.UpdateLink is not null)
                {
                    <Button OnClick="UpdateService.Install">Install update</Button>
                }
                <Button Href="@UpdateService.NextVersion!.ReleaseLink">Download manually</Button>
                break;
        }
    </div>
</DialogContainer>

@code {
    protected override void OnInitialized() => UpdateService.StateChanged += OnStateChanged;

    private void OnStateChanged(object? sender, EventArgs args) => InvokeAsync(StateHasChanged);

    public void Dispose() => UpdateService.StateChanged -= OnStateChanged;
}