﻿.box {
    margin-bottom: 10px;
    padding: 5px 10px;
    background-color: var(--dialog-box-bg);
    border-radius: 5px;
}

.description {
    max-height: 250px;
    margin-top: 15px;
    white-space: pre-wrap;
    overflow-y: auto;
}

.buttons {
    display: flex;
    flex-direction: column;
}

.buttons > ::deep :nth-child(n+2) {
    margin-top: 10px;
}

.center {
    text-align: center;
}